@using CarShop.Properties;
@{
    ViewBag.Title = "WhyItsFree";
}

<h2>@Resources.YOUARESELLER</h2>
Вы решили попробовать свои силы в комерции, связанной с автозапчастями.
Вместо глаз у вас два значка доллара $, а в душе глубокая надежда на светлое будущее.
Все это хорошо, все это заставляет вас действовать и вы начинаете тратить время, деньги и силы.
Первым делом, вы оформляете договора с оптовыми поставщиками автозапчастей и закупаете некоторый объем расхожих автозапчастей,
рассаживаете продавцов за прилавок. Шатко-валко пошли продажи.
<p />
Теперь вы поворачиваете голову в сторону Интернета. Об этом все говорят, об этом все пишут.
Ваш собственный интернет магазин начинает вам сниться, он не дает вам покоя.
Вы только об этом и думаете.
<p />
Итак, вы решились!!!!

<h3>С какими задачами вам придется столкнуться:</h3>
<ul>
    <li>
        1. Необходимо приобрести соответствующее программное обеспечение "Интернет-магазин"
    </li>
    <li>
        2. Необходимо арендовать web-хостинг или выделенный web-сервер, на котором будет исполняться это программное обеспечение
    </li>
    <li>
        3. Необходимо интегрировать "Интернет-магазин" и вашу локльную учентую систему
    </li>
    <li>
        4. Необходимо обеспечить посещаемость вашего сайта
    </li>
</ul>

<h3>Первый вывод, к которому вы придете:</h3>
<div class="alert alert-danger">
    Пункт номер четыре отнимет денег больше, чем первые три вместе взятые!!!
    Более того, <b>инвестировать в пункт номер четыре придется постоянно!!!</b>
</div>
<div class="alert alert-warning">
    <b>Затраты ЗНАЧИТЕЛЬНО превышают прибыль.</b>
</div>

<h3>Если вы не поверили, и хотите попробовать</h3>
<div class="alert alert-warning">
    Если вы решились попробовать!
    Тогда не платите за пункт номер один -- не платите за программное обеспечение, но скачайте наше, купите хостин,
    разверните наше решение, раскрутите сайт и посчитайте, сколько вы потратили и какую прибыль вы получили.<p />

    Мы настаиваем на том, чтобы вы использовали нашем бесплатное ПО, чтобы вы привыкли к нему и освоились с ним.
    Когда вы наиграетесь (и лицо у вас станет грустное-грусное), вы начнете предпринимать усилия по оптимизации
    своей интернет активности. <p />
    А сценариев не так много -- ровно два:
    <ul>
        <li>
            1. Вы отказываетесь от "Интернет-магазинов" и все, что с этим связано.
        </li>
        <li>
            2. Вы принимаете вариант, где затраты соразмерны той прибыли, которую реально можно получить через этот канал продаж.
        </li>
    </ul>
    <p />
    Пункт номер два -- это то, что мы вам прндлагаем.
    Если вы не уйдете из бизнеса автозапчастей, то вы шаш клиент и с ПО вы уже познакомились и освоились.
</div>

<h3>Почему мы так уверены, что вы вернетесь опять к нам?</h3>
Цель этой статьи -- донести, что инвестиции в посещаемость сайта будут съедать денег больше,
чем любая ожидаемая прибыль через этот канал продаж, и платить надо соразмерно той прибыли,
которую можно реально получить.
<p />
Исходя из такого тезиса следут естественный вывод, чтобы снизить затраты необходимо распределить
финансовую нагрузку между всеми участниками данного процесса. Если вы не присоединитесь -- вы обречены на провал.
Сколько бы вы не вложили в раскрутку своего собственного сайта, интерес у конечного покупателя к вашему интернет-магазину будет ниже,
чем сайту, где многие продавцы публикуют свои остатки и цены.
<p />
Какой же вклад требуется с вашей стороны? Если вы перешли на использование данного ресурса -- вы уже сделали свой вклад.
Разместите на двери своего магазина информацию, о том, что узнать о наличии товара, цены и даже сделать
заказ можно через интернет. Единственно, что от вас будет требоваться -- это не лениться просматривать и обрабатывать
заказы на ваш магазин.
