@using CarShop.Properties;
@{
    ViewBag.Title = "BranchOrderSearch";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>12. Обработка заказов</h2>
}

<h2>РОЛЬ: продавец подразделения</h2>
Право на внесение изменений присвоено роли продавец подразделения. <p />
Источником заказов к обработке могут быть заказы на магазин по телефону и заказы созданные удаленно пользователями в интернет.
После репликации данных с Интернет сервера на площадку магазина, заказы созданные удаленно станут видны на площадке магазина.
 

<h3>Регламент</h3>

@Html.ActionLink(Resources.BranchOrderTDES_INDEX, "Index", "BranchOrderSearch", routeValues: new { }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Обработка сформированных заказов. Обработка включает навигацию по списку заказов за период с функцией создания продажи(корзины) для проплаты и перевода статуса заказа
в состояние "обработан". В перечень сформированных заказов входят заказы сформированные на площадке самого магазина (по телефону, к примеру) и заказы сформированные
покупателями через интернет.

<h3>Замечание</h3>
<div class="alert alert-danger">
    Заказ перейдет в статус обработан, лишь в том случае, когда будет запущена функция <b>Сформировать корзину продаж</b>.
    Важно помнить, что сформированная корзина требует дополнительного регламента -- оплаты. 
    Как правило проводить оплату следует лишь после того как курьер привез деньги за товар.<p />
    Мы рекомендуем завести дополнительного исполнителя с ролью <b>продавец</b>. Входить этим пользователем в систему для выполнения обработки заказов.
    Для проведения оплаты разумно оставлять смену открытой до утра и утром по факту проводить оплату лишь тех корзин, за которые магазин получил деньги.
</div>