@using CarShop.Properties;

@{
    ViewBag.Title = "BranchSpellHst";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>7. Списание с прихода после закрытия смены</h2>
}

<h2>РОЛЬ: Главный продавец(бухгалтер) подразделения</h2>
После закрытия смены необходимо урегулировать остатки по приходным ведомосттям. Во время проведения продаж происходит списание остатков в каталоге остатков.
Количественного списания с остатков приходных ведомостей не проводится. Это осуществляется после закрытия смены, когда уже невозможно сторнирование.<p />
<div class="alert alert-danger">
    При игнорировании данного регламента не будет возможности корректно формировать и вести ведомости переоценки.
    Напомним, что обработка ведомостей переоценки осуществляется на данных каталога приходных ведомостей.
</div>


<h3>Регламент</h3>
@Html.ActionLink(Resources.BranchSpellHstTDES_INDEX, "Index", "BranchSpellHst", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
Используя фильт по датам найдите смену, по которой не проводилось списание с прихода (ваша последняя закрытая смена, к примеру). Перейдите по ссылке "Подробно" и кликните на кнопке "Списать с прихода".
Данная кнопка не запускает процесс списания, но открывает форму "Списать с прихода". Именно на этой форме вы запустите массовый процесс списания кликнув по аналогичной кнопке "Списать с прихода".<br />
На первый взгляд может показаться излишним сначала открыть форму и только тогда запустить процесс. Но любая важная операция выполняется через шаг - показать форму и только тогда активировать функцию.
Хорошим примером важности такого подхода является операция удаления - будет показана дополнительная форма с вопросом "Вы уверены ?" и кнопкой "Удалить".<p />

<h3>Замечание</h3>
Запускать процесс <b>списания с прихода</b> можно <b>любое количество раз</b>.
При любом повторном запуске выполняется повторный проход по артикулам смены.
И если по артикулу уже было проведено списание, то оно не проводится. И наоборот, если по артикулу не было проведено списание, то будет попытка провести эту операцию.
Причины, по которым было проведено частичное списание - это или сбой в системе (к примеру, электричество) или не было найдено приходной ведомости,
с которой можно было провести списание. <br />
По каждому артикулу количество, которое удалось списать с прихода заносится в поле <b>Спис.с ост.</b>. Списание с прихода выполняется лишь в том случае,
если <b>Кол-во</b> больше <b>Спис.с ост.</b> и количество <b>Возврат</b> равно нулю. В поле <b>Возврат</b>
заносится количество сторнирования или количество возврата на магазин.<br />
