@using CarShop.Properties;
@{
    ViewBag.Title = "BranchGuestProfile";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>10. Создание заказов по телефону</h2>
}

<h2>РОЛЬ: продавец подразделения</h2>
Право на внесение изменений присвоено роли продавец подразделения. <p />

<h3>Регламент</h3>
@Html.ActionLink(Resources.BranchGuestProfileTDES_INDEX, "Index", "BranchGuestProfile", routeValues: new { }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Переход на страничку для для работы с профилями заказов. Позволяет создать профиль заказа: внести ФИО, контакты, адрес доставки. Для сформированного профиля можно офрмить
один или несколько закзазов. Каждый заказ включает дату создания, флаг "Обработан" и перечень товаров, входящих в заказ. За каждым товаром закрепляется количество и цена.
На этапе формирования заказа можно установить флаг "Обработан", если покупатель после формирования заказа отказался от покупки.<p />

После создания профиля перейдите по ссылке <b>подробно</b>. Вы получите пункты меню для создания и наполнения корзины товаром.