@using CarShop.Properties;
@{
    ViewBag.Title = "CarShopRestToWeb";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>19. Утилита CarShopRestToWeb.exe (1) расширение каталога TecDoc</h2>
}

<h2>Задача</h2>

<div class="alert alert-warning">
    Выполнение данной задачи требует установки TecDoc в вашей локальной сети.<p />
    Если вы планируете использовать утилиту в режиме <b>без TecDoc</b> и <b>без TecDoc-подобных ресурсов</b> (речь идет о TecDoc в формате MSSQL), то
    со страницы
    @Html.ActionLink("Загрузки", "Dounloads", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })
    переодически (к примеру раз в неделю) скачивайте версию <b>Базы MySql</b>. Получая последнюю версию этой БД,
    вы получаете актуальные результаты регламента, описанного на данной странице.
</div>

<div class="alert alert-info">
    Расширение картотеки частных артикулов выполняется автоматически при импорте остатков поставщиков и(или) остатков магазинов.
</div>

    Рассмотрим следующую товарную позицию<p />
    <b>FORMPART - Вискомуфта вентилятора - 1239003/s</b><p />
    На официальном сайте FORMPART http://www.ru.otoform.com/ вы найдете информацию о том,
    что подвеска FORMPART уже в TecDoc. А с остальным что делать и в частности с артикулом <b>1239003/s</b>.
    Простое внесение такого артикула в перечень остатков не даст ожидаемого результата.
    У конечного покупателя и даже у продавца должна быть возможность выйти на данную деталь либо по конструкционному номеру,
    либо по автомобилю, на котором эта деталь устанавливается, либо через просмотр аналогов.
    Такой сервис предоставляется каталогом TecDoc. Если детали в TecDoc нет, то ее нет для конечного покупателя
    и не важно, что в остатках она есть.<p />
    Рассмотрим аналог<p />
    <b>SWAG - Вискомуфта вентилятора - 20918683</b><p />
    В TecDoc присутствует полная информация по тому на каких моделях автомобилей может быть установлена эта деталь,
    некий перечень аналогов и некий перечень конструкционных номеров. В этом случае само собой напрашивается методика прикрепления всей информации
    по артикулу <b>SWAG - 20918683</b> к артикулу <b>FORMPART - 1239003/s</b>.
    Такой механизм реализован в нашем решении на серверной стороне и опубликован в виде web-сервиса.
    Но прежде, чем вызывать функцию сервиса, необходимо сформировать картотеку таких пар.
    Утилита CarShopRestToWeb.exe позволяет вести такую картотеку пар на вашем компьютере и
    позволяет в пакетном режиме провести загрузку новых артикулов в каталог TecDoc интернет-магазина.
    Напомним, что расширение каталога TecDoc возможна лишь в случае, если форматом хранения данных
    является MSSQL.<p />

    Подведем краткий итог.<br />
    Товарные позиции или артикулы можно поделить на три группы:<p />
    1. товарные позиции опубликованы в TecDoc<br />
    2. товарные позиции не опубликованы в TecDoc, но есть аналоги, опубликованные в TecDoc<br />
    3. товарные позиции не опубликованы в TecDoc и нет аналогов в TecDoc<br />

    Вариант  (3) уже рассмотрен в главе "22. Расширение TecDoc артикулами без аналогов".
    В той главе речь шла об артикулах, которые не имеют аналогов, опубликованных в TecDoc. В этой главе мы поведем речь
    о товарных позициях, для которых есть аналоги в TecDoc.


    <h3>РОЛЬ: администратор подразделения</h3>
    Право на внесение изменений присвоено роли администратор подразделения. <p />

    <h3>Регламент</h3>
    Регламент разделяется на две подзадачи: <br />
    Первое: формирование картотеки новых артикулов<br />
    Второе: Выгрузка артикулов в каталог TecDoc интернет-магазина.<p />

    В свою очередь, формирование картотеки может выполняться прямым добавлением или может выполняться пакетно
    загрузкой EXCEL или CSV файлов.

    <h4>Формирование картотеки прямым добавлением</h4>
    1. Запустите программу CarShopRestToWeb.exe <p />
    2. Выполните вход в локальную картотеку.<p />
    Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
    Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
    Введите пароль в соответствующее поле и нажмите OK.
    Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
    3. Откройте форму "Частные артикулы" через пункт меню "Сервис/Картотека частных артикулов".
    Кликните кнопку <b>(...)</b> в строке "Фильтр поиска", чтобы получить перечень уже внесенных пар.
    В нижней части формы воспользуйтесь кнопками постраничного листания данных.
    Воспользуйтесь кнопками "Добавить", "Удалить", "Изменить" для редактирования картотеки.
    При добавлении будет появляться блок диалога, где можно ввести новый артикул,
    но аналог можно только выбрать из уже существующих.
    При изменении записи можно редактировать только EAN (штрих-код) и можно изменить аналог через выбор уже существующих.




    <h4>Формирование картотеки пакетно</h4>
    1. Запустите программу CarShopRestToWeb.exe <p />
    2. Выполните вход в локальную картотеку.<p />
    Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
    Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
    Введите пароль в соответствующее поле и нажмите OK.
    Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
    3. Откройте форму "Частные артикулы" через пункт меню "Сервис/Картотека частных артикулов".
    Кликните на кнопку <b>(...)</b> в строке "Фильтр поиска", чтобы получить перечень уже внесенных пар.
    В нижней части формы воспользуйтесь кнопками постраничного листания данных.
    Воспользуйтесь кнопкой "Импорт EXCEL или CSV". При этом появится блок диалога "Импорт EXCEL или CSV".
    На данном блоке кликните кнопку "Выбрать файл". После выбора файла выберите книгу из появившегоса списка.
    После этого кликните "Читать файл". После того как вы прочли файл, вы должны задать правила конвертирования
    указав каким данным какой столбец соответствует. После этого запустите процесс импорта.
    Часто в EXCEL файле есть шапка, поэтому станьте курсором на первую запись и кликните кнопку "импортироать с текущей записи".
    Если шапки нет, то кликните кнопку "импортироать все записи".

    <h4>Экспорт данных на удаленный сервер</h4>
    1. Запустите программу CarShopRestToWeb.exe <p />
    2. Выполните вход в локальную картотеку.<p />
    Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
    Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
    Введите пароль в соответствующее поле и нажмите OK.
    Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
    3. Откройте форму "Частные артикулы" через пункт меню "Сервис/Картотека частных артикулов".
    Кликните на кнопку <b>(...)</b> в строке "Фильтр поиска", чтобы получить перечень уже внесенных пар.
    В нижней части формы воспользуйтесь кнопками постраничного листания данных.<p />
    Воспользуйтесь кнопкой "Переслать TecDoc на удаленный сервер начиная с текущей страницы".
    Появится блок диалога "Переслать артикулы TecDoc". Перейдите на вкладку "Переслать через доступ к Web-сервису",
    введите базовый HTTP адрес, пользователя, пароль и кликните кнопку старт. По окончании процесса закройте блок диалога.<p />

    Воспользуйтесь кнопкой "Переслать каталог артикулов на удаленный сервер".
    Появится блок диалога "Переслать артикулы в каталог".
    Введите базовый HTTP адрес, пользователя, пароль и кликните кнопку старт. По окончании процесса закройте блок диалога.<p />
