@using CarShop.Properties;

@{
    ViewBag.Title = "CarShopRestToWeb3";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>22. Утилита CarShopRestToWeb.exe (4) Расширение TecDoc артикулами без аналогов</h2>
}

<h2>Задача</h2>

<div class="alert alert-warning">
    Выполнение данной задачи требует установки TecDoc в вашей локальной сети.<p />
    Если вы планируете использовать утилиту в режиме <b>без TecDoc</b> и <b>без TecDoc-подобных ресурсов</b> (речь идет о TecDoc в формате MSSQL), то
    со страницы
    @Html.ActionLink("Загрузки", "Dounloads", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })
    переодически (к примеру раз в неделю) скачивайте версию <b>Базы MySql</b>. Получая последнюю версию этой БД,
    вы получаете актуальные результаты регламента, описанного на данной странице.
</div>

<div class="alert alert-info">
    Расширение картотеки частных артикулов выполняется автоматически при импорте остатков поставщиков и(или) остатков магазинов.
</div>


Рассмотрим торговую позицию 
<b>ABR-EG-330 - клей эпоксидный 30 мл - ABR-EG-330</b><p />
Данный товар не представлен в TecDoc и нет аналогов этому товару.<p />
Подведем краткий итог<br/> 
Товарные позиции или артикулы можно поделить на три группы:<p />
1. товарные позиции опубликованы в TecDoc<br/>
2. товарные позиции не опубликованы в TecDoc, но есть аналоги, опубликованные в TecDoc<br />
3. товарные позиции не опубликованы в TecDoc и нет аналогов в TecDoc<br />

Вариант  (2) уже рассмотрен в главе "19. расширение каталога TecDoc". 
В той главе речь шла об артикулах, которые имеют аналоги, опубликованные в TecDoc. В этой главе мы поведем речь
о товарных позициях, которым нет аналогов в TecDoc. 

Напомним, что простое внесение артикула в перечень остатков не даст ожидаемого результата.
У конечного покупателя и даже у продавца должна быть возможность выйти на данную деталь либо по конструкционному номеру,
либо по автомобилю, на котором эта деталь устанавливается, либо через просмотр аналогов.
Такой сервис предоставляется каталогом TecDoc. <b>Если детали в TecDoc нет, то ее нет для конечного покупателя
и не важно, что в остатках она есть.</b> Это то, что касается интернет магазинов<p />

Если вы используете данное решение как учетную систему, то у вас должна быть возможность продавать товары
которые есть в TecDoc и которых нет в TecDoc. Потому расширяемость каталога чем угодно 
и как угодно является первоочередной задачей.<p />

<h3>РОЛЬ: администратор подразделения</h3>
Право на внесение изменений присвоено роли администратор подразделения. <p />

<h3>Регламент</h3>
Регламент разделяется на две подзадачи: <br />
Первое: формирование картотеки новых артикулов без аналогов в TecDoc<br />
Второе: Выгрузка артикулов в каталог TecDoc интернет-магазина и(или) учетной системы.<p />

В свою очередь, формирование картотеки может выполняться прямым добавлением или может выполняться автоматически при загрузке
остатков поставщиков или остатков вашего собственного магазина.

<h4>Формирование картотеки прямым добавлением</h4>
1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Артикулы без кроссов" через пункт меню "Сервис/Картотека частных не TecDoc артикулов (клей, домкрат и т.п.)".
Кликните кнопку <b>(...)</b> в строке "Фильтр поиска", чтобы получить перечень уже внесенных пар.
В нижней части формы воспользуйтесь кнопками постраничного листания данных.
Воспользуйтесь кнопками "Добавить", "Удалить", "Изменить" для редактирования картотеки.
При добавлении будет появляться блок диалога, где можно ввести новый артикул.
При изменении записи можно редактировать только EAN (штрих-код), наименование и перечень оригинальных номеров.

<h4>Формирование картотеки автоматически</h4>
При импорте остатков поставщиков или импорте остатков вашего магазина при запуске процесса появится блок диалога
"Импортировать файл". Если включен флаг "Проверять артикулы в TecDoc"  и включен флаг 
"Формировать частные не TecDoc артикулы (клей, домкрат и т.п.)", то автоматически будет сформирована картотека.<p />
Алгоритм формирования следующий:<br />
По артикулу и брэнду поставщика утилита пытается найти запись в своей картотеке остатков и цен магазина . 
Если запись найдена, то проводится обновление цены и остатка.
Если запись не найдена, то делается попытка по артикулу и брэнду поставщика найти товарную позицию в TecDoc. 
Если такая нашлась, то в картотеку остатков и цен магазина добавляется новая запись состоящая из артикула и брэнда поставщика и из артикула, 
брэнда, наименования и EAN из TecDoc.
Если запись в TecDoc не найдена, то делается попытка найти запись в картотеке расширение каталога TecDoc утилиты CarShopRestToWeb.exe. 
Если запись найдена, то в картотеку остатков и цен магазина добавляется новая запись состоящая из артикула и брэнда поставщика и из артикула, 
брэнда, наименования и EAN из картотеки расширения.
Если запись в картотеке расширение каталога TecDoc не найдена и флаг "Искать определение артикула в Шатэ-М" (Автоспэйс, L-Auto, Motex), 
то делается запрос к интернету для поиска этого артикула. Если артикул найден, то делается проход по аналогам с попыткой найти такой аналог, 
который есть в TecDoc. Если аналог найден, то в картотеке расширения TecDoc появляется новая запись. И после этого создается запись с остатком и 
ценой. Если аналогов в интернет не найдено, то делается проход по конструкционным номерам, с попыткой найти аналог по конструкционному номеру. 
Если аналог найден, то в картотеке расширения TecDoc появляется новая запись. И после этого создается запись с остатком и ценой. 
Если аналог не найден флаг "Формировать частные не TecDoc артикулы (клей, домкрат и т.п.)", 
то данная товарная позиция вставляется в картотеку "Расширение TecDoc артикулами без аналогов".<p />
<b>Замечание:</b> Наполнение картотеки частных не TecDoc артикулов возможно лишь в случае, если присутствует три обязательных поля:
Артикул, Брэнд и наименование. Будет являться большим плюсом наличие EAN и оригинильных номеров детали.

<h4>Экспорт данных на удаленный сервер</h4>
1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Артикулы без кроссов" через пункт меню "Сервис/Картотека частных не TecDoc артикулов (клей, домкрат и т.п.)".
Кликните кнопку <b>(...)</b> в строке "Фильтр по", чтобы получить перечень ранее внесенных записей.<p />
Воспользуйтесь кнопкой "Переслать TecDoc на удаленный сервер начиная с текущей страницы". Появится блок диалога "Переслать артикулы TecDoc". 
Перейдите на вкладку "Переслать через доступ к Web-сервису", введите базовый HTTP адрес, пользователя, пароль и кликните кнопку старт. 
По окончании процесса закройте блок диалога.<p />
Воспользуйтесь кнопкой "Переслать каталог артикулов на удаленный сервер". Появится блок диалога "Переслать артикулы в каталог". 
Введите базовый HTTP адрес, пользователя, пароль и кликните кнопку старт. По окончании процесса закройте блок диалога.<p />











