@using CarShop.Properties;

@{
    ViewBag.Title = "CarShopRestToWeb5";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>23. Утилита CarShopRestToWeb.exe (5) Расширение TecDoc артикулами из PDF</h2>
}

<h2>Задача</h2>

<div class="alert alert-warning">
    Выполнение данной задачи требует установки TecDoc в вашей локальной сети.<p />
    Если вы планируете использовать утилиту в режиме <b>без TecDoc</b> и <b>без TecDoc-подобных ресурсов</b> (речь идет о TecDoc в формате MSSQL), то
    со страницы
    @Html.ActionLink("Загрузки", "Dounloads", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })
    переодически (к примеру раз в неделю) скачивайте версию <b>Базы MySql</b>. Получая последнюю версию этой БД,
    вы получаете актуальные результаты регламента, описанного на данной странице.
</div>

Начнем с типового замечания: о том что товарные позиции или артикулы можно поделить на три группы:<p />
1. товарные позиции опубликованы в TecDoc<br />
2. товарные позиции не опубликованы в TecDoc, но есть аналоги, опубликованные в TecDoc<br />
3. товарные позиции не опубликованы в TecDoc и нет аналогов в TecDoc<p />
Вариант  (2) уже рассмотрен в главе "19. расширение каталога TecDoc". <br />
Вариант  (3) уже рассмотрен в главе "22. Расширение TecDoc артикулами без аналогов". <p />

Вернемся к обсуждению варианта (2). Чтобы расширять TecDoc мы в качестве источника использовали партнерские программы.
Еще одним важным источником являются PDF-файлы, которые публикуются на сайтах самих производителей.
Чтобы проиллюстрировать сказанное, рассмотрим артикулы производителя ADRIAUTO, которых нет в TecDoc. 
Перейдем на сайт производителя  (http://www.adriauto.it/default.asp?Szn=Cataloghi&Lng=Eng). <br />
Мы видим, что достаточно полная информация по продукции приводится в виде PDF файлов и этой информации
 приводится достаточно для операции расщирения TecDoc в формате MSSQL. <br />
Напомним, что для расширения TecDoc новым артикулом нам необходимо код нового артикула, брэнд нового артикула,
код артикула который есть в TecDoc и брэнд артикула, который есть в TecDoc. <p />
Производитель приводит код изделия и оригинальный номер. В этом случае мы можем по оригинальному номеру получить
один из артикулов TecDoc и тем самым решить задачу получения пары.<p />

<h3>РОЛЬ: администратор подразделения</h3>
Право на внесение изменений присвоено роли администратор подразделения. <p />

<h3>Регламент</h3>
Регламент разделяется на три подзадачи: <br />
Первое: скачать PDF ресурс и преобразовать в CSV файл<br />
Первое: формирование картотеки новых артикулов с аналогами в TecDoc<br />
Второе: Выгрузка артикулов в каталог TecDoc интернет-магазина и(или) учетной системы.<p />

<h4>Скачать PDF ресурс</h4>
Каждый оптовый поставщик РБ публикует на своих сайтах ссылки на сайты производителей.

<h4>Преобразовать в CSV файл</h4>
Скачайте бесплатно и разверните утилиту от ByteScout  <b>PDF Viewer free utility</b><p />
    http://bytescout.com/products/enduser/misc/pdfviewer.html 
<p />
Запустите утилиту и кликните пункт меню "Open Pdf document", чтобы открыть файл.
В левом пенале Кликните "Extract as CSV" и в появившемся блоке диалога выбелите
"Extract page range from ... to..." с указанием страниц. Кликните кнопку GO.

Скопируйте полученные CSV в папку с именем производителя, которую вы должны создать 
в папке запуска программы CarShopRestToWeb.EXE.

<h4>Регистрация производителя в картотеке утилиты CarShopRestToWeb.exe</h4>
Прежде чем выполнять импорт/экспорт необходимо зарегистрировать производителя в картотеке CarShopRestToWeb.exe.
Дело в том что, картотека CarShopRestToWeb.exe может обсуживать несколько производителей паралельно.
Раз это так, то каждого производителя необходимо зарегистрировать. Ниже прниводятся шаги регистрации.<p />

1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Производители" через пункт меню "Сервис/Артикулы Производителей".
Кликните на кнопку <b>Обновить</b> в верхнем пенале, чтобы получить перечень уже внесенных.
В верхнем пенале воспользуйтесь кнопками "Добавить", "Удалить", "Изменить" для редактирования Производителей.
Для внесения новой записи кликните "Добавить", при этом появится блок диалога "Производитель".<p />
Внесите NIC производителя записи -- уникальное имя производителя.<br />
В поле Наименование производителя внесите какой либо коментарий или описание.<br />
В поле Источник данных внесите URL с которого вы скачиваете PDF-файлы<br />
В поле папка загрузки внесите имя папки. Не вносите полный путь!!!<br />
В конце нажмите кнопку OK.


<h4>Формирование картотеки прямым добавлением</h4>
1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Производители" через пункт меню "Сервис/Артикулы Производителей".
Кликните на кнопку <b>Обновить</b> в верхнем пенале, чтобы получить перечень уже внесенных.
В верхнем пенале станьте на строку, которая соответствует Производителю. и кликните кнопку 
 <b>Показать артикулы</b>, чтобы получить перечень ранее внесенных записей.<p />

Заметим, что за каждой товарной позицией закрепляется, артикул/брэнд Производителя,
артикул/брэнд/EAN/Наименование TecDoc. Есть еще три важных поля дата последнего обновления записи,
дата последней отгрузки в картотеку интернет-магазина и столбец содержащий текст ошибки, если такая возникает
при экспорте в картотеку интернет-магазина. При внесении или редактировании данных дата последнего обновления записи
всегда больше чем дата последней отгрузки в картотеку интернет-магазина. Именно таки образом отслеживается,
была ли отгружена запись после редактирования.<p />
При внесении новой карточки вам предоставляется возможность редактировать артикул/брэнд Производителя.
Поля артикул/брэнд/EAN/Наименование TecDoc вы можете заполнить только через выбор. Правка данных в этой части запрещена.

<h4>Формирование картотеки пакетно</h4>
1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Производители" через пункт меню "Сервис/Артикулы Производителей".
Кликните на кнопку <b>Обновить</b> в верхнем пенале, чтобы получить перечень уже внесенных.
В верхнем пенале станьте на строку, которая соответствует Производителю. и кликните кнопку
<b>Показать артикулы</b>, чтобы получить перечень ранее внесенных записей.<p />


Воспользуйтесь кнопкой "Импорт EXCEL или CSV". При этом появится блок диалога "Импорт EXCEL или CSV".
На данном блоке кликните кнопку "Выбрать файл". После выбора файла выберите книгу из появившегоса списка.
После этого кликните "Читать файл". После того как вы прочли файл, вы должны задать правила конвертирования
указав каким данным какой столбец соответствует. <p />
Для того, чтобы задать правила конвертирования укажите столбец артикула новой карточки и
столбец оригинального номера.
Кликните кнопку импортировать данные с текущей записи или импортировать все данные.
Появится блок диалога "Импортировать файл". Кликните старт и дождитесь окончания процесса.

<h4>Экспорт остатков в интернет магазин</h4>
1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Производители" через пункт меню "Сервис/Артикулы Производителей".
Кликните на кнопку <b>Обновить</b> в верхнем пенале, чтобы получить перечень уже внесенных.
В верхнем пенале станьте на строку, которая соответствует Производителю. и кликните кнопку
<b>Показать артикулы</b>, чтобы получить перечень ранее внесенных записей.<p />
Воспользуйтесь кнопкой "Переслать TecDoc на удаленный сервер начиная с текущей страницы". Появится блок диалога "Переслать артикулы TecDoc".
Перейдите на вкладку "Переслать через доступ к Web-сервису", введите базовый HTTP адрес, пользователя, пароль и кликните кнопку старт.
По окончании процесса закройте блок диалога.<p />
Воспользуйтесь кнопкой "Переслать каталог артикулов на удаленный сервер". Появится блок диалога "Переслать артикулы в каталог".
Введите базовый HTTP адрес, пользователя, пароль и кликните кнопку старт. По окончании процесса закройте блок диалога.<p />
