@using CarShop.Properties;

@{
    ViewBag.Title = "CarShopRestToWeb3";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>21. Утилита CarShopRestToWeb.exe (3) Загрузка остатков и цен поставщиков в стол заказов</h2>
}
<h2>Задача</h2>

<div class="alert alert-warning">
    Выполнение данной задачи требует установки TecDoc в вашей локальной сети.<p />
    Если вы планируете использовать утилиту в режиме <b>без TecDoc</b> и <b>без TecDoc-подобных ресурсов</b> (речь идет о TecDoc в формате MSSQL), то
    со страницы
    @Html.ActionLink("Загрузки", "Dounloads", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-success btn-xs" })
    переодически (к примеру раз в неделю) скачивайте версию <b>Базы MySql</b>. Получая последнюю версию этой БД,
    вы получаете актуальные результаты регламента, описанного на данной странице.
</div>

<div class="alert alert-info">
    Расширение картотеки частных артикулов выполняется автоматически при импорте остатков поставщиков и(или) остатков магазинов.
</div>


Для каждого интернет магазина является нормой публиковать остатки и цены вашей торговой точки, которые у вас есть в наличии.
Также очень привлекательным будет являться публикация остатков и цен оптовых поставщиков, с которыми вы сотрудничаете.
В этом случае, такие товарные позиции должны быть видны посетителю вашего сайта, как товары по заказ с указанием срока
исполнения заказа. <p />
Таким образом перед нами встает задача: <br />
1. где-то взять эти остатки. <br />
2. Обработать их. <br />
3. Экспортировать остатки поставщиков в наш интернет магазин.<p />

Утилита CarShopRestToWeb.exe позволяет вести картотеку остатков и цен поставщиков на вашем компьютере и
позволяет в пакетном режиме загрузить остатки и цены поставщиков в картотеку интернет-магазина.
Промежуточная картотека играет важную роль как с точки зрения оптимизации <b>импорта</b>
остатков и цен, так и сточки зрения <b>экспорта</b> данных в картотеку интернет-магазина.<p />

<h4>При импорте данных от оптовых поставщиков</h4>
    При импорте данных  делается проверка по каждой товарной позиции на предмет корректности.
    Помимо номера артикула и брэнда поставщика, необходима информация, на каких автомобилях может быть установлена
    данная деталь, какие аналоги от других поставщиков эта деталь имеет и к каким конструкционным номерам данная деталь
    привязана.
    Простое внесение такого артикула в перечень остатков не даст ожидаемого результата.
    У конечного покупателя и даже у продавца должна быть возможность выйти на данную деталь либо по конструкционному номеру,
    либо по автомобилю, на котором эта деталь устанавливается, либо через просмотр аналогов.
    Такой сервис предоставляется каталогом TecDoc. Если детали в TecDoc нет, то ее нет для конечного покупателя
    и не важно, что в остатках она есть.<p />

    Поэтому при импорте будут отвергнуты все товарные позиции, которых не окажется в TecDoc или в расширении TecDoc.
    Не надо бояться, что вы ничего не сможете залить!!! Утилита CarShopRestToWeb.exe сможет это сделать!!!!<p />

    @Html.ActionLink("19. Утилита CarShopRestToWeb.exe (1)", "CarShopRestToWeb", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
    Перейдите по ссылке, чтобы прочесть о расширении каталога TecDoc<p />

<h4>При экспорте данных в картотеку интернет-магазина</h4>
    Оптимизация по экпорту данных: нет нужды перевыгружать карточку в стол заказов,
    если с последней выгрузки по этой карточке ни цена, ни количество не изменились.
    Утилита CarShopRestToWeb.exe знает, когда и что менялось и будет отсылать только те позиции,
    по которым изменились количество или цена.


<h3>РОЛЬ: администратор подразделения</h3>
Право на внесение изменений присвоено роли администратор подразделения. <p />

<h3>Регламент</h3>
Регламент разделяется на три подзадачи: <br />
Первое: Получение остатков и цен от оптовых<br />
Второе: формирование картотеки остатков и цен<br />
Третье: Выгрузка артикулов в картотеку интернет-магазина.<p />

В свою очередь, формирование картотеки может выполняться прямым добавлением или может выполняться пакетно
загрузкой EXCEL или CSV файлов.

<h4>Регистрация оптового поставщика в картотеке утилиты CarShopRestToWeb.exe</h4>
Прежде чем выполнять импорт/экспорт необходимо зарегистрировать поставщика в картотеке CarShopRestToWeb.exe.
Дело в том что, картотека CarShopRestToWeb.exe может обсуживать несколько оптовых поставщиков и вести остатки паралельно.
Раз это так, то каждого поставщика необходимо зарегистрировать. Ниже прниводятся шаги регистрации.<p />

1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Поставщики и цены" через пункт меню "Сервис/Картотека цен поставщиков".
Кликните на кнопку <b>Обновить</b> в верхнем пенале, чтобы получить перечень уже внесенных.

В верхнем пенале воспользуйтесь кнопками "Добавить", "Удалить", "Изменить" для редактирования атрибутов поставщиков.
Для внесения новой записи кликните "Добавить", при этом появится блок диалога "Атрибуты поставщиков".

Внесите ID записи -- целое число (один, два, три и т.п.)<br />
В поле Наименование поставщиков вносите наименование на русском.<br />
В поле Nic поставщика вы вносите уникальное имя, которое вы найдете в перечне поставщиков, 
которые зарегистрированы на нашем сайте. <br />
В поле Источник данных (URL) вы вносите ссылку на файл в интернете, скачивая который вы получаете
актуальные остатки этого поставщика.<br />
В поле тип источника вы выбираете тип файла, который размещается на сайте поставщика. Если это EXCEL или CSV, то укажите
"Тип задается расширением вложенного файла", если это архив (zip, rar и т.п.), то укажите тип "zip архив".<br />
В поле папка загрузки укажите относительный путь к папке, куда вы будете выкладывать данные. Для каждого поставщика
должна быть своя уникальная папка. Эта папка создается в папке запуска вашей программы.<br />
В поле Вложенный файл вносится имя файла, который находится в архиве, если поставщик предоставляет архив для скачивания.
Допускается в имени вложенного файла использовать подстановки. К примеру, *.xlsx. <br />
После окончания редактирования нажмите кнопку OK.<p />

<h4>Формирование картотеки прямым добавлением</h4>
1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Поставщики и цены" через пункт меню "Сервис/Картотека цен поставщиков".
Кликните на кнопку <b>Обновить</b> в верхнем пенале, чтобы получить перечень уже внесенных.
В верхнем пенале станьте на строку, которая соответствует поставщику и кликните кнопку "Показать артикулы".
Откроется форма "Артикулы и цены поставщика".
Кликните кнопку <b>(...)</b> в строке "Остатки", чтобы получить перечень ранее внесенных записей.
Заметим, что помимо за каждой товарной позицией закрепляется, артикул/брэнд поставщика,
артикул/брэнд/EAN/Наименование TecDoc, цена, кол-во. Есть еще три важных поля дата последнего обновления записи,
дата последней отгрузки в картотеку интернет-магазина и столбец содержащий текст ошибки, если такая возникает
при экспорте в картотеку интернет-магазина. При внесении или редактировании данных дата последнего обновления записи
всегда больше чем дата последней отгрузки в картотеку интернет-магазина. Именно таки образом отслеживается,
была ли отгружена запись после редактирования.<p />
При внесении новой карточки вам предоставляется возможность редактировать артикул/брэнд вашего поставщика, цена и кол-во.
Поля артикул/брэнд/EAN/Наименование TecDoc вы можете заполнить только через выбор. Правка данных в этой части запрещена.

<h4>Формирование картотеки пакетно</h4>
1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Поставщики и цены" через пункт меню "Сервис/Картотека цен поставщиков".
Кликните на кнопку <b>Обновить</b> в верхнем пенале, чтобы получить перечень уже внесенных.
В верхнем пенале станьте на строку, которая соответствует поставщику и кликните кнопку "Показать артикулы".
Откроется форма "Артикулы и цены поставщика".
Кликните кнопку <b>(...)</b> в строке "Остатки", чтобы получить перечень ранее внесенных записей.<p />
Кликните кнопку <b>"Получить данные от поставщика"</b>. При этом будет сделан запрс в интернет на скачивания файла.
Если файл является zip архивом, то будет предпринята попытка извлечь из архива тот файл, который вы указали
в настройках. <p />
<b>Замечание:</b> Некоторые аоставщики постоянно меняют ссылку у файла для скачивания. Поэтому если возникла
ошибка скачивания, то выполните скачивание через Интернет браузер, положите архив в папку вашего поставщика
и извлеките из архива файл остатков в эту же папку.<p />
Кликните кнопку <b>"Импорт из EXCEL или CSV файла"</b> при этом появится форма "Импорт из EXCEL или CSV файла".
Кликните кнопку "Читать из файла", чтобы открыть файл данных поставщика.
После того как вы прочли файл, вы должны задать правила конвертирования
указав каким данным какой столбец соответствует. <p />
Для того, чтобы задать правила конвертирования кликните кнопку "Правила конвертирования".
При этом появится форма "Правила конвертирования".
<div class="alert alert-warning">
    На данной форме перейдите на вкладку отображения полей. Заполнете табличку правильным соответствием
    функционального типа столбца и имени столбца. Обязательными к заполнению являются следующие функциональные типы:<br />
    1. Столбец артикула карточки поставщика<br />
    2. Столбец брэнда карточки поставщика<br />
    3. Столбец Кол-ва<br />
    4. Столбец цены
</div>
Остальные столбцы будут определены автоматически в процессе импорта данных.<p />
<b>Замечание:</b> если столбца брэнда карточки поставщика нету в файле, то вносить такой столбец нет нужды.
Данные в таком виде пересылает Шатэ-М. У этого поставщика артикул и брэнд представлены одним столбцом, 
где артикул и брэнд склеены значком подчеркивания.

<div class="alert alert-warning">
    Обязательно перейдите на вкладку "Условия" и внесите минимум одну запись<p />
    ID = 100<br />
    Тип обработки = с разделителем<br />
    Условия разделителя = преффикс-артикул<br />
    Значение разделителя=символ подчеркивания "_" <br />
    Условия преффикса = копировать преффикс<br />
    Условия преффикса = копировать преффикс<br />
    Значение преффикса = оставить пустым <br />
    Значение замены преффикса = оставить пустым <br />
    Условия суффикса = <b>взять брэнд</b><br />
    Значение суффикса = оставить пустым <br />
    Значение замены суффикса = оставить пустым <br />
</div>

<div class="alert alert-warning">
    Если поставщик Шатэ-М, то на вкладке  "Условия" запись должна быть в виде<p />
    ID = 100<br />
    Тип обработки = с разделителем<br />
    Условия разделителя = преффикс-артикул<br />
    Значение разделителя=символ подчеркивания "_" <br />
    Условия преффикса = копировать преффикс<br />
    Условия преффикса = копировать преффикс<br />
    Значение преффикса = оставить пустым <br />
    Значение замены преффикса = оставить пустым <br />
    Условия суффикса = <b>КОПИРОВАТЬ</b><br />
    Значение суффикса = оставить пустым <br />
    Значение замены суффикса = оставить пустым <br />
</div>

<div class="alert alert-success">
    После завершения настройки конвертирования обязательно кликните кнопку OK.
    При этом в папке запуска программы будет создан файл с именем<br />
    SuppCnvRulesX.xml, <br />
    где X -- это целое число -- номер записи, который был присвоен при
    регистрация поставщика в картотеке утилиты CarShopRestToWeb.exe.
</div>

Если настройка конвертирования готова можно запустить процесс конвертирования кликнув по кнопке
"Импортировать данные с текущей записи" или "Импортировать все данные".
При этом появится блок диалога "Импортировать файл".<p />

При самом первом запуске импорта флаг "Проверять артикулы в TecDoc" должен быть включен.
В противном случае вы не сможете импортировать ни одной записи. При включенном флаге алгоритм испорта следующий:<p />
По артикулу и брэнду поставщика утилита пытается найти запись в своей картотеке остатков и цен магазина .
Если запись найдена, то проводится обновление цены и остатка.<br />

Если запись не найдена, то делается попытка по артикулу и брэнду поставщика найти товарную позицию в TecDoc.
Если такая нашлась, то в картотеку остатков и цен магазина добавляется новая запись состоящая из артикула и брэнда поставщика и из
артикула, брэнда, наименования и EAN из TecDoc.<br />

Если запись в TecDoc не найдена, то делается попытка найти запись в картотеке расширение каталога TecDoc
утилиты CarShopRestToWeb.exe. Если запись найдена, то в картотеку остатков и цен магазина добавляется новая запись
состоящая из артикула и брэнда поставщика и из артикула, брэнда, наименования и EAN из картотеки расширения.<br />

Если запись в картотеке расширение каталога TecDoc не найдена и флаг "Искать определение артикула в Шатэ-М" (Автоспэйс, L-Auto, Motex), то делается
запрос к интернету для поиска этого артикула. Если артикул найден, то делается проход по аналогам с попыткой найти такой аналог,
который есть в TecDoc. Если аналог найден, то в картотеке расширения TecDoc появляется новая запись. И после этого
создается запись с остатком и ценой. Если аналогов в интернет не найдено, то делается проход по конструкционным номерам,
с попыткой найти аналог по конструкционному номеру. Если аналог найден, то в картотеке расширения TecDoc появляется новая запись. И после этого
создается запись с остатком и ценой. Если аналог не найден, то данная товарная позиция не импортируется и запись помечается,
как не принятая к импорту. Это заносится в дополнительный столбец импортируемого файла.<p />

<b>Замечание:</b> Если флаг "Проверять артикулы в TecDoc" выключен, то флаг "Искать определение артикула в Шатэ-М"
работать не будет.<p />

<b>Замечание:</b> Первоначальная загрузка выполняется очень медленно. Наберитесь терпения. После завершения процесса, просмотрите последний столбец
и проанализируйте почему артикул не загрузился. Уверяю вас, обнаружите массу интересного.
Предположим, что в результате серии иттераций (или попыток) вы смирились, с тем что часть артикулов не будет попадать в интернет-магазин.

Тогда при очередной загрузке остатков отключите флаг "Проверять артикулы в TecDoc". Это сильно ускорит процесс импорта.

<h4>Экспорт остатков в интернет магазин</h4>
1. Запустите программу CarShopRestToWeb.exe <p />
2. Выполните вход в локальную картотеку.<p />
Для этого воспользуйтесь пунктом меню "Сервис/Открыть БД соответствия".
Появится блок диалога и вы должны ввести имя компьютера (или IP-адрес), где размещен сервер MySQL.
Введите пароль в соответствующее поле и нажмите OK.
Появится блок диалога с перечнем баз данных на сервере MySQL. Выберите "carshopmapping" и нажмите OK.<p />
3. Откройте форму "Поставщики и цены" через пункт меню "Сервис/Картотека цен поставщиков".
Кликните на кнопку <b>Обновить</b> в верхнем пенале, чтобы получить перечень уже внесенных.
В верхнем пенале станьте на строку, которая соответствует поставщику и кликните кнопку "Показать артикулы".
Откроется форма "Артикулы и цены поставщика".
Кликните кнопку <b>(...)</b> в строке "Остатки", чтобы получить перечень ранее внесенных записей.<p />
Кликните кнопку "Переслать цены на удаленный сервер начиная с текущей страницы". 
Откроется блок диалога "Переслать остатки поставщика на удаленный сервер". 
Введите базовый HTTP адрес сайта, пользователя и пароль и GUID предприятия, к которому вы приписаны.
Кликните кнопку старт для запуска процесса.<p />

<b>Замечание:</b> Цены поставщика загружаются в интернет-магазин как есть и в той валюте, в которой выложил поставщик. 
После загрузки данных вы настройками на сайте казываете в какой валюте цены поставщика и какой курс.<p />
@Html.ActionLink("17. Остатки поставщиков", "SupplierRests", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите к статье по указанной ссылке, чтобы получить информацию по настройке поставщиков в столе заказов.<p />


<h3>Перечень поставщиков</h3>
<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        1. shatem
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        Частное Предприятие «Шате-М Плюс»
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://shate-m.by/data/service/quants.zip
    </dd>
</dl>


<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        2. autospace
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Автоспейс» МИНСК
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.autospace.by/filedownload.php?file=1090
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        3. ostrov
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО "Остров Сокровищ"
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.ostrov.by/default.aspx?tabid=80
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        4. monlibon
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        Компания Монлибон
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://monlibon.by/sites/default/files/SP-Price/MLPrice_Excel.rar
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        5. sviat
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО "СВИАТ"
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.sviat.by/updocuments/Sviat_Price.xls
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        6. lauto
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Л-авто»
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.l-auto.by/downloads/l_auto_price_2.zip
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        7. asmetal
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ЧТУП «СЕСТА»
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://asmetal.by/show_price_3
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        8. motex
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «МоТехСавтозапчасти»
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.motexautoparts.com/price/update/price.zip
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        9. motex_sales
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «МоТехСавтозапчасти»: Распродажа
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.motexautoparts.com/price/update/sales.zip
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        10. autospace_sales
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Автоспейс» МИНСК: Распродажа
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.autospace.by/filedownload.php?file=1090
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        11. lauto_sales
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Л-авто»: Распродажа
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.l-auto.by/downloads/l_auto_price_2.zip
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        12. forwardmotors
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Форвард Моторс»
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://forward-motors.com
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        13. bovikon
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        Частное унитарное предприятие "Бовикон"
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.bovikon.by/files/price.xls
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        14. monlibon_sales
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        Компания Монлибон: Распродажа
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://monlibon.by/sites/default/files/SP-Price/MLPrice_Excel.rar
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        15. armtek
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ARMTEK Минск
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://armtek.by/
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        16. padangos_adbaltic_lt
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ИООО «АД Балтик»
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.adbaltic.by/
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        17. volksmarket
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        СООО Атлант-М Восток
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://volksmarket.by/upload/prices/price.xls
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        18. idealproject_bto
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО Идеал проект, БТО
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://050.by
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        19. oe_ford
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        Автоцентр Атлант-М Боровая Официальный дилер Ford
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://borovaya.by
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        20. schigerd
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        СООО «Шигерд Трейд»
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.schigerd.by/files/download/price/azm.csv
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        21. euromotors
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО "Евромоторз"
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://euromotors.by/
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        22. sviat_sales
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО "СВИАТ" Распродажа
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.sviat.by/
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        23. waterline
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ЧТУП "Ватерлиния"
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        ---
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        25. autospace_gomel
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Автоспейс» ГОМЕЛЬ
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.autospace.by/filedownload.php?file=2480
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        26. autospace_sales_gomel
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Автоспейс» ГОМЕЛЬ: Распродажа
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.autospace.by/filedownload.php?file=2480
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        27. autospace_vitebsk
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Автоспейс» ВИТЕБСК
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.autospace.by/filedownload.php?file=2483
    </dd>
</dl>

<hr />
<dl class="dl-horizontal">
    <dt>
        Ник
    </dt>
    <dd>
        28. autospace_sales_vitebsk
    </dd>
    <dt>
        Наименование
    </dt>
    <dd>
        ООО «Автоспейс» ВИТЕБСК: Распродажа
    </dd>
    <dt>
        Ресурс
    </dt>
    <dd>
        http://www.autospace.by/filedownload.php?file=2483
    </dd>
</dl>