@using CarShop.Properties;
@{
    ViewBag.Title = "DoMakeOrdersReply";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>11. Репликации заказов</h2>
}

<h2>РОЛЬ: продавец подразделения</h2>
Право на внесение изменений присвоено роли продавец подразделения. <p />
Помимо создания заказов по телефону подразделение может публиковать свои остатки и цены в Интернет. 
При такой архитектуре посетители сайта могут создавать заказы удаленно. Чтобы такие заказы стали видны на площадке магазина 
необходимо выполнять репликацию данных с сайта Интернет.
<br />
Помимо получения данных с площадки магазина происходит отправка данных по тем заказам, которые уже были обработаны.
В этом случае посетители сайта могут увидеть, прибудет ли курьер с заказом на адрес, указанный в профиле посетителя.


<h3>Регламент</h3>

@Html.ActionLink(Resources.MakeOrderReply, "DoMakeOrdersReply", "EnterpriseBranches", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Чтобы заказы сформированные через интернет стали видны на площадке магазина необходимо выполнить операцию репликации заказзов.<p />