@using CarShop.Properties;

@{
    ViewBag.Title = "Репликация остатков";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>13. Репликация остатков</h2>
}

<h2>РОЛЬ: продавец подразделения</h2>
Право на внесение изменений присвоено роли продавец подразделения. <p />
В результате проведения продаж и обработки новых поступлений товара остатка и цены по магазину будет изменяться.
Если магазин публикует свои остатки и цены в интернет требуется периодически выполнять репликацию остатков и цен с площадки магазина
на удаленный сервер интернет.


<h3>Регламент</h3>
@Html.ActionLink(Resources.MakeBranchReply, "DoMakeReply", "EnterpriseBranches", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Чтобы остатки и цены стали доступны покупателям через интернет необходимо выполнить операцию репликации остатков.
