
@{
    ViewBag.Title = "Остатки внешней учетной системы";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>18. Остатки внешней учетной системы</h2>
}

<h2>РОЛЬ: Администратор подразделения</h2>
Право на внесение изменений присвоено роли Администратор подразделения. <p />

<h3>Регламент</h3>

<h4>Шаг 1: Выгрузка остатков и цен вашего магазина в формате CSV или Excel</h4>
Вы должны выгрузить остатки и цены в CSV или Excel файл, который должен содежать стобцы артикула, брэнда, цены и кол-ва.


<h4>Шаг 2: Загрузка остатков в промежуточную картотеку</h4>
Второй шаг выполняется с помощью утилиты CarShopRestToWeb.Exe.<p />
Запустите программу на своем локальном компьютере.<p />
Откройте соединение с БД через пункт меню "Сервис/Открыть MySql-БД"<p />
Откройте форму "Магазины и остатки" через пункт меню "Сервис/Цены и остатки по магазинам"<p />
Станьте на запись вашего магазина и кликните кнопку "Импорт остатков и цен". При этом появится форма "Импорт файла CSV или EXCEL" <p />
На форме "Импорт файла CSV или EXCEL" кликните кнопку "Выбрать файл"<p />
На форме "Импорт файла CSV или EXCEL" кликните переключатель "Выбрать книгу"<p />
На форме "Импорт файла CSV или EXCEL" кликните кнопку "Читать из файла"<p />
На форме "Импорт файла CSV или EXCEL" кликните кнопку "Импортировать данные с текущей записи"<p />
Можете проанализировать результат импорта через последний столбец "Result"

<h4>Шаг 3: Загрузка остатков и цен на свой сайт</h4>
Третий шаг выполняется с помощью утилиты CarShopRestToWeb.Exe.<p />
Запустите программу на своем локальном компьютере.<p />
Откройте соединение с БД через пункт меню "Сервис/Открыть MySql-БД"<p />
Откройте форму "Магазины и остатки" через пункт меню "Сервис/Цены и остатки по магазинам"<p />
На форме "Магазины и остатки" кликните кнопку "Переслать остатки и цены"<p />