@using CarShop.Properties;

@{
    ViewBag.Title = "Оригинальные каталоги";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
    string Ref1 = "http://www.neoriginal.ru/";
    string Ref2 = "http://audi.ilcats.ru/pid/ТУТ_ВАШ_ID";
}


@section headerscripts {
    <h2>16. Оригинальные каталоги</h2>
}

<h2>РОЛЬ: Администратор предприятия</h2>
Право на внесение изменений присвоено роли Администратор предприятия. <p />


<h3>Регламент</h3>
Реализация поиска артикулов по оригинальным каталогам аналогична той, которая принята в www.exist.by.
Добавление поиска в оригинальных каталогах осуществляется в два щага
<h4>Шаг 1: Регистрация у поставщика информации</h4>
<a href="http://www.neoriginal.ru/" class="btn btn-info btn-xs" target="_new"> @Ref1 </a>
Перейдите по указанной ссылке на сайт поставщика информации. <p/>
Зарегистрироваться на этом сайте. <p />
Создать подписку на один или несколько оригинальных каталогов.
При регистрации каждого интересующего вас оригинального каталога вы получаете уникальный идентификатор или PID. 
Запишите или запомните данный PID, т.к. он вам понадобится на втором шаге.


<h4>Шаг 2: Регистрация ссылки на вашем сайте</h4>
@Html.ActionLink("Оригинальный каталог", "Index", "OriginalCatalog", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по указанной ссылке для того чтобы зарегистрировать вашу подписку шага 1. К примеру, вы создали подписку на каталог AUDU.
При создании подписки, вам был предоставлен уникальный идентификатор PID в виде @Ref2. Вы вносите наименование, к примеру AUDU (или Ауди) 
и вносите ссылку, полученную на шаге 1.
