@using CarShop.Properties;

@{
    ViewBag.Title = "ReturnBasket";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>9. Возврат товара</h2>
}

<h2>РОЛЬ: Продавец подразделения</h2>
Право на внесение изменений присвоено роли  продавец подразделения. <p />

<h3>Регламент</h3>
 Проведение возврата товара выполняется в три шага:<p />
<ul>
    <li>создать корзину</li>
    <li>наполнить корзину товаром</li>
    <li>провести оплату</li>
    <li>если после оплаты покупатель отказался от возврата - сторнировать возврат</li>
</ul>

<h3>Cоздать корзину</h3>
Переход на страницу
@Html.ActionLink(Resources.ReturnBasketTDES_INDEX, "Index", "ReturnBasket", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
даст возможность управлять вашими Возвратами(корзинами) созданными в течение смены.
Чем возврат отличается от сторнирования. Отличий два. Сторнирование разрешено в рамках одной операционной смены. Если смена закрыта, то провести сторнирование уже нельзя.
Возврат отлмчается от сторнирования тем, что может быть проведен в другую операционную смену. Второе отличие - это избирательность товаров для возврата. При сторнировании
выполняется откат продажи всех товаров в корзине. При проведении возврата вы формируете перечень товаров из разных корзин и разных смен. <p />

В данном решении реализован <span style="font-weight:bold">функционал отложенного проведения возврата.</span>
Предположим пришел покупатель и вы начали формировать корзину возвратов. Вдруг он сказал, что вернется к вам через 10 мин.
Чтобы начать обслуживать следующего покупателя нет нужды удалять текущую корзину, но достаточно снять флаг активности для текущей корзины.
Когда через 10 мин вернется первый покупатель. Установить на его корзине флаг активности.
Операция наполнения товаром производится только для активной корзины. <b>
Если активной корзины нет или активная корзина уже оплачена,
при выборе товара автоматически будет создана новая корзина с включенным флагом активности.
</b> На страничке управления вашими возвратами(корзинами)
дается детальная инструкция как переключать активность непроведенных корзин. <p />

<h3>Наполнение корзины</h3>
Наполнение корзины возврата осуществляется через выбор смены и поиском проданного товара в рамках смены:<p />
@Html.ActionLink(Resources.LookForArticleSelt_INDEX, "LookForSpell", "BranchSpellHst", routeValues: new { redirectContriller = "ReturnBasketArticle", redirectAction = "GetReturnArticuleForCreate" }, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
Переход на страничку для выбора смены. Данная страница предоставляет возможность перейти к выбору проданного товара в рамках выбранной смены

<h3>Замечание</h3>
<div class="alert alert-danger">
    Мы не рекомендуем пользоваться данным функционалом. При проведении возврата должен вырасти остаток по артикулу в какой-либо приходной ведомости.
    В качестве такой ведомости выбирается первая попавшаяся (что не есть хорошо), у которой остаток по артикулу меньше количества поступившего товара по данной ведомости.
    Мы рекомендуем воспользоваться механизмом приходных ведомостей (и ведомостей переоценки), чтобы зафиксировать возврат товара:
    оформите приходную ведомость на перечне товаров, который возвращается на магазин.
</div>
