@using CarShop.Properties;

@{
    ViewBag.Title = "Остатки поставщиков";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>17. Остатки поставщиков</h2>
}

<h2>РОЛЬ: Администратор подразделения</h2>
Право на внесение изменений присвоено роли Администратор подразделения. <p />

<h3>Регламент</h3>
<h4>Шаг 1: Регистрация поставщика, остатки которого вы хотите публиковать как свои собственные</h4>
@Html.ActionLink(Resources.EnterpriseSupplier_INDEX, "Index", "BranchSupp", new { }, new { @class = "btn btn-info btn-xs" })
Перейдите по указанной ссылке на сайт поставщика информации. (Это же можно сделать со станицы детальной информации интернет профиля вашего магазина)<p />
Внесите в сисок тех поставщиков, остатки которых вы будете привязывать к своему магазину. 
Кроме выбора поставщика вы должны внести валюту, в которой поставщик публикует цены и указать курс обмена на день внесения записи.<p />
<div class="alert alert-info">
    <b>Замечание:</b> При изменении обменного курса нет необходимости перенабивать курсы у каждого поставщика. Изменение курсов осуществляется централизованно.
    Для этого перейдите по ссылке <p />
    @Html.ActionLink(Resources.EnterpriseBranchRateTDES_INDEX, "Index", "EnterpriseBranchRate", new { }, new { @class = "btn btn-info btn-xs" })
    внесите действующие курсы и кликниет кнопку "Разнести курсы". При этом будет проведена разноска курсов по всем поставщикам, 
    которые уже зарегистрированны для вашего магазина.
</div>



<h4>Шаг 2: Получение остатков и цен с сайта поставщика</h4>
Второй шаг выполняется с помощью утилиты CarShopRestToWeb.Exe.<p /> 
Запустите программу на своем локальном компьютере.<p />
Откройте соединение с БД через пункт меню "Сервис/Открыть MySql-БД"<p />
Откройте форму "Поставщики и цены" через пункт меню "Сервис/Картотека цен поставщиков"<p />
Кликните кнопку "обновить", чтобы получить перечень поставщиков, уже венсенных в вашу картотеку.<p />
На форме "Поставщики и цены" станьте на интересующаго вас поставщика и кликните кнопку "Показать артикулы" в нижней части формы<p />
На форме "Артикулы и цены поставщика" кликните кнопку "Получить данные от поставщика" и дождитесь ответа программы<p />
На форме "Артикулы и цены поставщика" кликните кнопку "Импортировать из Excel или CSV файла" появится форма "Импорт из Excel или CSV"<p />
На форме "Импорт из Excel или CSV" кликните кнопку "Читать из файла"<p />
На форме "Импорт из Excel или CSV" кликните кнопку "Импортировать данные с текущей записи" и дождитесь окончания<p />
Можете проанализировать результат импорта через последний столбец "Result"


<h4>Шаг 3: Загрузка остатков и цен поставщика на свой сайт</h4>
Третий шаг выполняется с помощью утилиты CarShopRestToWeb.Exe.<p /> 
Запустите программу на своем локальном компьютере.<p />
Откройте соединение с БД через пункт меню "Сервис/Открыть MySql-БД"<p />
Откройте форму "Поставщики и цены" через пункт меню "Сервис/Картотека цен поставщиков"<p />
Кликните кнопку "обновить", чтобы получить перечень поставщиков, уже венсенных в вашу картотеку.<p />
На форме "Поставщики и цены" станьте на интересующаго вас поставщика и кликните кнопку "Показать артикулы" в нижней части формы<p />
На форме "Артикулы и цены поставщика" кликните кнопку "Переслать цены на удаленный сервер начиная с текущей страницы". При этом появится форма "Переслать остатки поставщика на удаленный сервер"<p />
На форме "Переслать остатки поставщика на удаленный сервер" внесите правильный "Базовый адрес", пользователя, пароль и Guid вашего подразделения. Кликните кнопку "Старт" <p />