@using CarShop.Properties;

@{
    ViewBag.Title = "Расщирение каталога TecDoc";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}


@section headerscripts {
    <h2>15. Расщирение каталога TecDoc</h2>
}

<h2>РОЛЬ: Администратор подразделения</h2>
Право на внесение изменений присвоено роли Администратор подразделения. <p />
Некоторые оптовые поставщики товаров торгуют товаром, описание которого отсутствует в TecDoc. 
Как правило, на ряду с такого рода товаром для розничного бизнеса предоставляется информация об аналогах или кроссах.
Информация об аналогах это пара: новый артикул (он отсутствует в TecDoc) и аналог (он заведомо описан в TecDoc). 
Имея такую информацию очень легко достроить для нового артикула полную картину, а именно, на каких атомобилях может применяться, 
с какими конструкционными номерами он должен быть сопоставлен.



<h3>Регламент</h3>
Чтобы переслать информацию об аналогах или кроссах необходимо воспользоваться утилитов CarShopRestToWeb.exe.
После запуска утилиты подключитесь к локальному хранилищу (пункт меню Сервис/Открыть БД соответствия).
Откройте окно "Частные артикулы" (пункт меню Сервис/Кртотека Частных артикулов) и кликните кнопку "Обновить".
Используя кнопки "Изм.", "Доб", "Удл." можно  менять перечень кроссов.
Каждый постащик предоставляет свои кроссы в формате EXCEL ил в формате CSV.
Импортируйте кроссы поставщика в локальное хранилище (кнопка ИМПОРТ). После этого реплицируйте кроссы на ваш web-сервер (кнопка Переслать)
