@using CarShop.Properties;
@{
    ViewBag.Title = "User2WorkPlace";
    Layout = "~/Views/ByTasks/_Layout.cshtml";
}

@section headerscripts {
    <h2>6. Размещение исполнителей по рабочим местам</h2>
}

<h2>РОЛЬ: Главный продавец(бухгалтер) подразделения</h2>
Смена открывается в заблокированном состоянии. После открытия смены необходимо разместить пользователей по рабочим местам. После этого выполнить разблокировку смены.
Поэтому право на внесение изменений присвоено роли лавный продавец(бухгалтер) подразделения. <p />

<h3>Регламент</h3>
После открытия смены (смена открывается в заблокированном состоянии). Необходимо перерйти по ссылке
@Html.ActionLink(Resources.User2WorkPlace_INDEX, "Index", "User2WorkPlace", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })

Данная форма позволяет управлять размещением пользователей по рабочим местам.
Чтобы ракрепить пользователя за рабочим местом на данной форме необходимо кликнуть по ссылке "Закрепить пользователя за рабочим местом".
Появится форма со списками рабочих мест и исполнителей. Сделайте выбор и подтвердите свое намерение кликнув по кнопке "Создать".
Если за рабочим местом уже был закреплен другой пользователь, то старый пользователь открепляется и происходит закрепление нового пользователя за выбранным рабочим местом.
Закрепляются только те исполнители, которые имеют роль "Продавец".<p />

После размещения пользователей по рабочим местам необходимо перейти по ссылке
@Html.ActionLink(Resources.BranchSpell_INDEX, "Index", "BranchSpell", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
и выполнить разблокировку текущей смены.

<h3>Замечание 1</h3>
Чтобы просмотреть историю закрепления пользователей за рабочими местами необходимо перейти по ссылке
@Html.ActionLink(Resources.User2WorkPlaceHstTDES_INDEX, "Index", "User2WorkPlaceHst", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })

<h3>Замечание 2</h3>
Если рабочие места еще не зарегистрированы в подразделении, исполнитель с правами <b>администратора подразделения (магазина)</b> обязан зарегистрировать одно или несколько рабочих мест.
Для этого должен перейти по ссылке
@Html.ActionLink(Resources.WorkPlace_INDEX, "Index", "EnterpriseBranchWorkPlaces", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-primary" })