@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Республика Беларусь<br />
    г. Мстиславль, могилевской обл.<br />
    ул. Коммунарная д.17/4.<br />
    <abbr title="Phone">P:</abbr>
    +375(29)361-43-18
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:chempkovsky@rambler.ru">chempkovsky@rambler.ru</a><br />
</address>