@using CarShop.Properties;
@{
    ViewBag.Title = "ToBusinessMan";
}

<h2>@Resources.YOUARESELLER</h2>

        Если вы подыскиваете учетную систему для ведения бизнеса по продаже автозапчастей, то вы выбрали правильный сайт.
<p />

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Где взять программное обеспечение (ПО)</div>
            <div class="panel-body">
                К материалам по получению ПО, развертыванию и настройке решения можно перейти по ссылке
                @Html.ActionLink("Как развернуть решение.", "Index", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-info" })  <p />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Как начать работу и как пользоваться системой</div>
            <div class="panel-body">
                Перейдите по ссылке
                @Html.ActionLink("Функции по ролям", "IndexByRoles", "Home", routeValues: null, htmlAttributes: new { @class = "btn btn-xs btn-info" })
                для получения первых инструкций.
                При выполнении действий исполнитель переходит на ту или иную Web-форму, многие из которых снабжены дополнительной справочной информацией, которая
                распологается в верхней части экрана. На станицу <b>"Функции по ролям"</b>
                вынесен весь реализованный функционал.
            </div>
        </div>
    </div>
</div>


<div class="panel panel-primary">
    <div class="panel-heading">Основные достоинства решения</div>
    <div class="panel-body">
        - Распространяется БЕСПЛАТНО<br />
        - Лицензионная чистоа платформы. (НЕ НАДО ПЛАТИТЬ за платформу, на которой пострено решение)<br />
        - Построено на базе самых передовых технологий 2013-2014г.<br />
        - Варианты развертывания: 1.локальный; 2.Интернет; 3.Гибридный(локальное ведение бизнеса с репликацией в интернет)<br />
        - Поддерживает каталог TecDoc<br />
        - НЕ ТРЕБУЕТ совпадения нумерации товаров вашего магазина с нумерацией каталога TecDoc<br />
        - НЕ ТРЕБУЕТ совпадения нумерации товаров вашего магазина с нумерацией товаров ваших поставщиков<br />
        - В гибридном варианте автоматически публикует и обновляет в интеренет остатки и цены вашего магазина.<br />
        - В гибридном варианте реализована защищенная передача данных с локальной площадки в интернет и наоборот. <br />
        - Двухуровневая инфраструктура: регистрируется предприятие(=сеть магазинов одного владельца) и подразделения (магазины). <br />
        - Может обслуживать белее одного предприятия (=торговой сети одного владельца)<br />
        - Поддерживается независимое хранение и независимая обработка данных и для предприятий и для подразделений<br />
        - Поддерживается модульность хранения и обработки данных для подразделения (инфраструктура, каталоги, приход, расход, остатки, заказы)<br />
        - Целостность обработки данных при модульном хранилище поддерживается через распределенные транзакции<br />
        - Ролевой доступ к ресурсам: администраторы предприятий; администраторы подразделений; бухгалтеры; продавцы; аудиторы; гости<br />
        - Реализован гостевой стол заказов через интернет с удобным поиском<br />
        - Реализован внутренний стол заказов по телефону или на площадке вашего магазина<br />
        - Ведение приходных ведомостей с поддержкой нумерации(идентификацией) товаров ваших поставщиков<br />
        - Ведение ведомостей переоценки (Реализовано автоматическое формирование ведомости переоценки по приходной ведомости)<br />
        - Ведение остатков<br />
        - Ведение корзин продаж (группы товаров одному покупателю). Каждая операция оплаты корзины изменяет остатки.<br />
        - Сторнирование корзин продаж.<br />
        - Возвраты проданных товаров на магазин.<br />
        - Ведение смен.<br />
        - Закрепление пользователей по рабочим местам (аналог кассовых аппаратов)<br />
        - Многопользовательская среда. Каждый продавец имеет свой реест продаж.<br />
        - Реализована отложенная оплата. (Один продавец формирует нескольких корзин прродаж одновременно)<br />
        - Реализована отложенная закрытие смены.(Открываем и ведем новую смену до операции списания расхода с приходных ведомостей для старой смены)<br />
        - На рабочем месте исполнителя достаточно иметь компьютер Web-браузером. Настройки рабочего места НЕ ТРЕБУЕТСЯ.<br />
        - Развертывание решения требуетс ОЗУ=3Гб , диск=60Гб(и выше), Операционная система = Vista и выше (32 или 64 бит).<br />
        - Развертывание решения требует программиста с опытом устанавливки игр или другого ПО на компьютере.<p />
        <b>Кому и сколько платить, чтобы получить копию программного обеспечения</b><br />
        <b>Программное обеспечение рапространяется бесплатно.</b> Смотреть ссылку "инструкции по развертыванию", где и что скачать.<p />
        <b>Что означает НЕ НАДО ПЛАТИТЬ за платформу (Лицензионная чистоа):</b><br />
        У вас есть компьютер с предустановленной операционной системой (Vista, Windows 7, Windows 8, Server 2008R2, Server 2012).
        Мы не обсуждаем вопрос, где вы взяли лицензию на использование установленной операционной системы.         Но акцентируем внимание на то,
        что для развертывания нащего решения предварительно понядобится развернуть две дополнительных платформы: MS SQL 2012 (MSSQL) и MS Internet Server (MSIIS). <br />
        <b>Замечание:</b> Т.к. MSSQL и MSIIS являются комерческими продуктами, то сложность их развертывание совпадает
        со сложностью развертывания любой игры на вашем компьютере. <br />
        Вернемся к лицензиям. Лицензия на использование MSIIS включена в лицензию вашей операционной системы.
        Вместо MSSQL-2012 мы будем использовать MSSQL-EXPRESS-2012. Согласно лицензии на MSSQL-EXPRESS, вы можете бесплатно использовать ее где угодно и как угодно.
        Есть важные ограничение наложенные на MSSQL-EXPRESS: размер файла БД не может превышать 10ГБ и потребляемая память не может превышать 1ГБ.
        В силу модульности нашего решения (приход, расход, заказы, остатки, артикулы, инфраструктура можно разворачивать в отдельной БД или на отдельном экземпляре MSSQL)
        вы получаете 60 ГБ дисковой памяти и 6ГБ ОЗУ на каждое подразделение (на каждый магазин).<br />
        Части (модули), которые не меняют своего размера - остатки, инфраструктура, артикулы.<br />
        Самая быстро растущая часть -- это расход. По мере заполнения файла БД и приближения к 10ГБ у вас есть возможность смонтировать (три или четыре клика мышкой),
        пустой модуль и переключить решение на использование пустого модуля. Аналогичным образом вы можете поступить с модулем заказы.
        С модулем прихода хлопот чуть больше и связано это с тем, что для выполнения переоценки требуются ранее оприходованные ведомости. Для замены модуля прихода
        понядобится несколько больше кликов мышкой, но суть такая же.<p />
        <b>Что означает Поддерживает каталог TecDoc:</b><br />
        - В случае 32bit операционной системы доступ к данным осуществляется через ODBC-соединение или сконвертированный в формат MSSQL каталог TecDoc.<br />
        - В случае 64bit операционной системы необходимо конвертировать Transbase-каталог в каталог MSSQL. Прилагаются утилита конвертирования и уже сконвертированный в MSSQL каталог 2013Q4.<br />
        - Компания Transbase пообещала выпустить 64bit ODBC драйвер в начале 2014. Поэтому в скором будущем проблема конвертирования для 64bit отпадет совсем.
    </div>
</div>


