@using CarShop.Properties;
@{
    ViewBag.Title = "ToExternals";
}

<h2>@Resources.YOUARESELLER</h2>

Вы уже внедрили учетную систему по продаже автозапчастей. Эта учетная система хорошо себя зарекомендовала,
и вам не хочется менять это решение на что-то иное.
Но у вашей учетной системы нет интеграции с интернет-магазином. А время иметь такой канал продаж уже пришло!!!
<p />

<h3>Шаги и  требования</h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Требования к вашей учетной системе</div>
            <div class="panel-body">
                <ul>
                    <li>
                        1. Ваша учетная система должна уметь выгружать остатки и цены в формате EXCEL или CSV
                    </li>
                    <li>
                        2. Порядок следования столбцов EXCEL или CSV файла несущественнен
                    </li>
                    <li>
                        3. Должны присутствовать следующие столбцы<p />
                        3.1. Столбец артикула<br />
                        3.2. Столбец брэнда изготовителя<br />
                        3.3. Столбец цены<br />
                        3.4. Столбец кол-ва<br />
                        3.5. Необязательный столбец артикула TeccDoc<br />
                        3.6. Необязательный столбец брэнда изготовителя TeccDoc<br />
                        3.7. Необязательный столбец Наименования артикула<br />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">Шаги</div>
            <div class="panel-body">
                <ul>
                    <li>
                        Развернуть утилиту CarShopRestToWeb.exe
                    </li>
                    <li>
                        Выгрузить остатки и цены из вашей системы в файл формата EXCEL или CSV
                    </li>
                    <li>
                        Используя CarShopRestToWeb.exe обработать EXCEL или CSV файл.
                        При этом будет выполнена проверка корректности артикулов TecDoc,
                        сформирована картотека успешно обработанных карточек
                        и сформирован журнал ошибок загрузки.
                    </li>
                    <li>
                        Зарегистрировать свой магазин на сайте и получить пароль доступа
                    </li>
                    <li>
                        Используя CarShopRestToWeb.exe экспортировать на сайт ваши остатки и цены
                    </li>
                    <li>
                        Зайдите на сайт с паролем, который вы получили при регистрации магазина
                        для того чтобы просматривать и обрабатывать заказы, поступившие на ваш магазин через интернет.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<p />
@Html.ActionLink("Утилита CarShopRestToWeb.exe", "CarShopRestToWeb", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейтиде по указанной ссылке чтобы получить инструкции по загрузке и подготовке к работе утилиты CarShopRestToWeb.exe.
<p />
@Html.ActionLink("Задачи и роли", "Index", "ByTasks", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Перейдите по указанной ссылке чтобы получить инструкции по ипользованию данной утилиты.
