<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MVCForumSettings" type="mvcForum.Core.Configuration.MVCForumSettings, mvcForum.Core" />
    <section name="mvcForum" type="mvcForum.Core.Configuration.MVCForumSection, mvcForum.Core" />

  </configSections>
  <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=v04.bizneshost.by,32433;Initial Catalog=sviptrhb_carshopsecurityex;Persist Security Info=True;User ID=sviptrhb_sviptrhb;Password=Qq01011967" providerName="System.Data.SqlClient" />
      <add name="mvcForum.DataProvider.MainDB" connectionString="Data Source=v04.bizneshost.by,32433;Initial Catalog=sviptrhb_carshopmvcforum;Persist Security Info=True;User ID=sviptrhb_sviptrhb;Password=Qq01011967" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>


  <MVCForumSettings defaultCulture="ru-RU" defaultTimezone="GMT Standard Time" topicsPerPage="15" messagesPerPage="20" siteURL="http://localhost" robotEmailAddress="robot@mydomain" robotName="My Forum Robot" />
  <mvcForum>
    <databaseBuilder type="CarShop.MvcForumIdentity.IdentityBuilder, CarShop" />
    <dependencyContainerBuilder type="MVCBootstrap.Ninject.DependencyContainer, MVCBootstrap.Ninject" />
    <storageBuilder type="mvcForum.Web.DependencyBuilders.StorageBuilder, mvcForum.Web" />

    <themeProviderComponent type="mvcForum.Web.ForumThemeProvider, mvcForum.Web" />
    <themeUrlProviderComponent type="MVCThemes.SimpleThemeURLProvider, MVCThemes" />
    <eventPublisherComponent type="ApplicationBoilerplate.Events.EventPublisher, ApplicationBoilerplate" />
    <asyncTaskComponent type="MVCBootstrap.Web.Events.AsyncTask, MVCBootstrap" />

    <urlProviderComponent type="mvcForum.Web.Providers.MVCURLProvider, mvcForum.Web" />

    <mailServiceComponent type="MVCBootstrap.Web.Mvc.Services.MailService, MVCBootstrap" />
    <membershipServiceComponent type="CarShop.MvcForumIdentity.MembershipService, CarShop" />
    <formsAuthenticationComponent type="CarShop.MvcForumIdentity.AuthenticationService, CarShop" />
    <userProviderComponent type="CarShop.MvcForumIdentity.IdentityUserProvider, CarShop" />

    <loggingProviderComponent type="mvcForum.Web.TraceLog, mvcForum.Web" />

    <searchBuilders>
      <add name="Lucene" type="mvcForum.SearchProvider.Lucene.LuceneSearchBuilder, mvcForum.SearchProvider.Lucene" />
    </searchBuilders>

    <additionalBuilders>
      <add name="Core" type="mvcForum.Core.DependencyBuilders.CoreBuilder, mvcForum.Core" />
      <add name="ForumConf" type="mvcForum.Web.ForumConfigurator, mvcForum.Web" />
      <add name="ForumAdmin" type="mvcForum.Web.DependencyBuilders.ForumAdminBuilder, mvcForum.Web" />
      <add name="WebCommon" type="mvcForum.Web.DependencyBuilders.WebCommonBuilder, mvcForum.Web" />
      <add name="AddOnEmbeddedViews" type="mvcForum.AddOns.AddOnBuilder, mvcForum.AddOns" />
      <add name="Akismet" type="mvcForum.AddOns.Akismet.AkismetBuilder, mvcForum.AddOns" />
      <add name="MultiPost" type="mvcForum.AddOns.MultiPost.MultiPostBuilder, mvcForum.AddOns" />
      <add name="NewUserTrial" type="mvcForum.AddOns.NewUserTrial.NewUserTrialBuilder, mvcForum.AddOns" />
      <add name="StopForumSpam" type="mvcForum.AddOns.StopForumSpam.StopForumSpamBuilder, mvcForum.AddOns" />
      <!-- Put any additional builders in here! -->
    </additionalBuilders>

    <contentParserComponents>
      <add name="BBCode" type="mvcForum.AddOns.ContentParsing.BBCParser, mvcForum.AddOns" />
      <add name="MarkDown" type="mvcForum.AddOns.ContentParsing.MarkDownParser, mvcForum.AddOns" />
      <add name="Regular" type="mvcForum.AddOns.ContentParsing.RegularParser, mvcForum.AddOns" />
    </contentParserComponents>

    <eventListenerComponents>
      <add name="Following" type="mvcForum.Web.Events.FollowingEventListener, mvcForum.Web" />
      <add name="Moderation" type="mvcForum.Web.Events.ModerationEventListener, mvcForum.Web" />
      <add name="PostReportResolved" type="mvcForum.Web.Events.PostReportResolvedEventListener, mvcForum.Web" />
      <add name="NewAndUpdatedContent" type="mvcForum.Web.Events.NewAndUpdatedContentEventListener, mvcForum.Web" />
      <add name="FlagUpdated" type="mvcForum.Web.Events.FlagUpdatedEventListener, mvcForum.Web" />
      <add name="Installation" type="mvcForum.Web.Events.InstallationEventListener, mvcForum.Web" />

      <!-- Lucene -->
      <add name="Lucene" type="mvcForum.SearchProvider.Lucene.LuceneContentChangeEventListener, mvcForum.SearchProvider.Lucene" />

      <!-- Add ons -->
      <add name="Akismet" type="mvcForum.AddOns.Akismet.AkismetAddOn, mvcForum.AddOns" />
      <add name="MultiPost" type="mvcForum.AddOns.MultiPost.MultiPostAddOn, mvcForum.AddOns" />
      <add name="NewUserTrial" type="mvcForum.AddOns.NewUserTrial.NewUserTrialAddOn, mvcForum.AddOns" />
      <add name="StopForumSpam" type="mvcForum.AddOns.StopForumSpam.StopForumSpamAddOn, mvcForum.AddOns" />
    </eventListenerComponents>
    <!--<repositoryComponents>
			<add type="mvcForum.DataProvider.EntityFramework.Repositories.TopicRepository, mvcForum.DataProvider.EntityFramework" interface="mvcForum.Core.Interfaces.Data.ITopicRepository, mvcForum.Core"/>
		</repositoryComponents>-->
  </mvcForum>  
  
</configuration>