@{
    ViewBag.Title = "Создание экземпляра БД для поддержки учетных записей и безопасности";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>9. Создание экземпляра БД для поддержки учетных записей и безопасности</h2>
}



В решении реализована модель безопасности основанная ролях пользователей. Для работы данной модели необходимо создать БД с определенной инфраструктурой.
Все это выполняется утилитой <b>Aspnet_regsql.exe</b> (издатель Microsoft), которая находится у вас на диске в следующей папке.<p />
Если у вас операционная система 32 бита, то<br />
<b>%windir%\Microsoft.NET\Framework\v4.0.30319</b><br />

Если у вас операционная система 64 бита, то<br />
<b>%windir%\Microsoft.NET\Framework64\v4.0.30319</b><p />

1. Запустите данную утилиту на том компьютере, где вы развернули MSSQL Express 2012.<br />
2. На первой вкладке кликните "Далее".<br />
3. На второй вкладке кликните "Далее".<br />
4. На третьей вкладке в поле <b>Сервер</b> введите ИМЯКОМПЬЮТЕРА\ИМЯSQLСЕРВЕРА (по аналогии @Html.ActionLink("Запуск и знакомство с MSSQL Management Studio", "HowToMSSQLManagementStudio", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" }))<br />
5. На третьей выберите "Проверка подлинности SQL Server"<br />
6. На третьей выберите имя пользователя <b>sa</b><br />
7. На третьей выберите пароль (по аналогии @Html.ActionLink("Запуск и знакомство с MSSQL Management Studio", "HowToMSSQLManagementStudio", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" }))<br />
8. На третьей вкладке введите имя новой БД, к примеру SecurityDb.<br />
9. Кликайте "Далее" до тех пор пока не появится вкладка с кнопкой "Готово".<p />

Запустите MSSQL Management Studio, подключитесь к серверу и убедитесь, что появилась новая БД.

