@{
    ViewBag.Title = "Наполнение каталога артикулов вашей торговой сети";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>7 Наполнение каталога артикулов вашей торговой сети</h2>
}



Наличие такого каталога обязательно для функционирования системы. Напомним, что в решении не требуется чтобы нумерация товаров в магазине совпадала
с нумерацией TecDoc. Такая гибкость достигается ведением специального ресурса - каталога артикулов предприятия (или торговой сети).
Каждая запись в этом каталоге артикулов предприятия представляет собой пару нумераторов товаров. Первым нумератором является нумератор товара в ващей тороговой сети (предприятия).
И вторым нумератором является нумератор TecDoc.<br />
Нумератор товара в TecDoc представляет собой пару состоящую из брэнда (узнаваемое имя производителя) и номера который был присвоен этому товару этим производителем.
По аналогии, номератор товара в вашей торговой сети должен сотоять из пары (брэнд + номер, который присвоен товару в вашем магазине).<br />
Каталог артикулов привязывается не к магазину (т.е. подразделению), но привязывается к торговой сети. (Напомним, что торговая сеть это список магазинов,
принядлежащих одному владельцу.)<br />
Есть еще одна проблема. Перечень наименований товаров представленных в наличии в магазине составляет несколько десятков тысяч. С другой стороны,
Каталог TecDoc содержит более 4 миллионов наименований. Подход к формированиютакого ресурса состоит в создании болванки в автоматическом режиме
и донаполнении этого ресурса руками, если в этом возникнет необходимость.<br />
Редактирование в ручном режиме осуществляется ролью администратора предприятия. Можно перейти на страницу "Функции по ролям". Найти ссылку "Артикулы"
и вы перейдете на web-страницу для просмотра и редактирования каталога артикулов торговой сети. Но этим необходимо заниматься после наполнения каталога в автоматическом режиме.<br />

<h3>Скачать готовый каталог</h3>
Если вы планируете интегрироваться с нашим сайтом, то ваша торговая сеть должна иметь предопределенный
идентификатор = <b>27d77e44-9ac0-49d6-a8dd-9c69f3de5725</b>. 
Если это так, то вам нет необходимости формировать каталог артикулов вашей торговой сети.
Вы можете скачать уже готовый.<p />
@Html.ActionLink("Каталог артикулов", "CarShopArticle", "HowTo", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
Кликните по указанной ссылке, чтобы получить архив с базой данных каталога артикулов торговой сети <b>27d77e44-9ac0-49d6-a8dd-9c69f3de5725</b>
в формате MSSQL.<p />
                    

<h2>Шаги наполнения</h2>
7.1. Запустить утилиту WpfCarShop<br />
7.2. Использовать пункт меню <b>Развертывание</b> и затем <b>Enterprises</b><br />
7.3. На появившейся форме кликните кнопку <b>Обновить</b><br />
7.4. Найти строку вашего предприятия и кликнуть по ней. При этом ниже строки появятся дополнительные кнопки<br />
7.5. Из появившихся кнопок кликните <b>Артикулы предприятия</b><br />
7.6. Кликните по кнопке <b>Макс</b> в строке с наименованием <b>Артикулы предприятия</b> <br />
7.7. Кликните по кнопке <b>Из БД TecDoc</b> в строке с наименованием <b>Артикулы предприятия</b> <p />

<b>Замечание 1:</b> Сформированные вами записи лягут в БД <b>CarShopArticleContext</b><p />

<b>ВАЖНОЕ ЗАМЕЧАНИЕ 2:</b> Запустите несколько копий утилиты WpfCarShop. Первой копией начните лить данные в диапазоне от 0 до 500000. Второй копией диапазон от 500000 до 1000000.
Третьей копией от 1000000 до 1500000 и т.д. Пока не дойдете до диапазона, где верхняя граница = <b>Макс</b>. Из-за ограничений TecDoc, 4-я копия уже может начать глючить!!!
Поэтому дождитесь окончания процессов загрузки первых трех диапазонов. Обязательно закройте программу WpfCarShop. Откройте новую копию и начинайте загрузку очередных диапазонов.
При проведении тестов удавалость сформировать каталог за 8 часов. Правда компьютер на котором выполнялись работы был очень мощным (точнее это не компьютер а целый Центр Обработки Данных).<p />

<b>Замечание 3:</b> Каталог артикулов предприятия не распространяется в готовом виде, т.к. каждая запись в этом каталоге содержит ссылку на ваше предприятие (или торговую сеть).
Поэтому на этапе разработки программного обеспечения нельзя было сформировать каталог для конкретной торговой сети.