@{
    ViewBag.Title = "Регистрация вашей торговой сети";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>6 Регистрация вашей торговой сети</h2>
}

На данной странице описаны шаги по регистрации вашей торговой сети.
Под торговой сетью подразумевается сеть магазинов принадлежащих одному владельцу. Данное решение поддерживает двухуровневую
архитектуру: Предприятие (это торговая сеть), которое содержит одно или несколько подразделений (магазинов). Даже если у вас ровно один магазин,
вы должны зарегистрировать в системе свое предприятие<p />

Зарегистрировать вашу торговую сеть можно или с помощью <b>Web-интерфейса</b> или с помощью утилиты <b>WpfCarShop.exe</b>.
О  Web-интерфейсе речь пойдет позже. Но на данной странице мы опишем шаги по созданию записи вашего предприятия с помощью <b>WpfCarShop.exe</b>.<p />

<h2>Регистрация вашей торговой сети утилитой WpfCarShop</h2>
6.1. Запустить утилиту WpfCarShop<br />
6.2. Использовать пункт меню <b>Развертывание</b> и затем <b>Enterprises</b><br />
6.3. На появившейся форме кликните кнопку <b>Обновить</b><br />
6.4. На появившейся форме кликните кнопку <b>Добавить запись</b><br />
6.4. На появившейся форме заполните поля<br />
<b>GUID если вы развертываете в первый раз то используйте то значение, которое уже вписано в поле. Иначе, установите значение, которое использовали раньше</b>
GUID - это уникальный идентификатор, который гарантированно никогда не совпадет уникальным идентификатором который сгенерируется кем-либо и когда-либо еще.<br />
<b>Наименование - Внесите Наименование вашей торговой сети</b><br />
<b>Акт. - Включите флаг активности</b><br />
<b>Каталог артикулов=CarShopArticleContext</b>. Напомним вам, что это имя находится в файле <b>WpfCarShop.exe.config</b>   <br />
<b>Источник TecDoc- выберите вариант использования TecDoc</b>. Если у вас 64бит, то вариант пока ровно один - MSSQL формат<br />
Кликните кнопку <b>Сохранить</b><p />

<b>Замечание:</b> Внесенная вами запись ляжет в БД <b>CarShopContext</b><br />

