@{
    ViewBag.Title = "Настройка Брандмаура на компьютере, где развернут SQL сервер";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>13. Настройка Брандмаура на компьютере, где развернут SQL сервер</h2>
}



На момент первого запуска рекомендуется отключить Брандмаур как на узлах, где развернут Sql-сервер, так и на узлах, где развернут интернет сервер.<p />

Если же принято решение включить Брандмаур, то для доступа к Sql-серверу со стороны интернет сервера необходимо донастроить Брандмаур.<br />
На компьютере, где развернуты Sql-сервера запустите оснастку Брандмаура. Для этого вне зависимости от операционной системы <br />
1. Перейдите в <b>"Панель управления"</b><br />
2. Выберите <b>"Крупные значки" или "Мелкие значки"</b><br />
3. Кликните  по ссылке <b>"Брандмауэр windows"</b><br />
4. В появившемся окне Кликните  по ссылке <b>"Дополнительные параметры"</b><br />
5. В появившемся окне выполните правый клик мышью на узле <b>Правила для входящих подключений</b>. <br />
6. В появившемся диалоге выберите <b>Для программы</b> и нажмите <b>Далее</b>. <br />
7. Появится новая вкладка. Выберите <b>Путь программы</b> и кликните <b>Обзор</b> и Укажите программу<br />
<b>C:\Program Files\Microsoft SQL Server\ТУТ_ИМЯ_SQL_СЕРВЕРА\MSSQL\Binn\sqlservr.exe</b><br />
где ТУТ_ИМЯ_SQL_СЕРВЕРА - это имя SQL сервера, которое вы присвоили экземпляру на шагах установки платформы (см. п. 1.3.6.)
8. Нажмите <b>Далее</b>. <br />
9. Появится новая вкладка. Выберите <b>"Разрешить подключение"</b> и нажмите <b>Далее</b>.<br />
10. Появится новая вкладка. Включите все три флага  и нажмите <b>Далее</b>.<br />
11. Введите имя к примеру "CONNECTTOSQL"   и нажмите <b>Готово</b>.<br />


