@{
    ViewBag.Title = "Настройка Брандмаура на компьютере, где развернут Интернет сервер";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>14. Настройка Брандмаура на компьютере, где развернут Интернет сервер</h2>
}




На момент первого запуска рекомендуется отключить Брандмаур как на узлах, где развернут Sql-сервер, так и на узлах, где развернут интернет сервер.<p />

Если же принято решение включить Брандмаура, то для доступа к Интернет-серверу со стороны компьютеров конечных пользователей вашей сети необходимо.<br />
На компьютере, где развернуты Интернет-сервер запустите оснастку Брандмаура. Для этого вне зависимости от операционной системы <br />
1. Перейдите в <b>"Панель управления"</b><br />
2. Выберите <b>"Крупные значки" или "Мелкие значки"</b><br />
3. Кликните  по ссылке <b>"Брандмауэр windows"</b><br />
4. В появившемся окне Кликните  по ссылке <b>"Дополнительные параметры"</b><br />
5. В появившемся окне кликните мышью на узле <b>Правила для входящих подключений</b>. <br />
6. В среднем пенале выполните правый клик на <b>Службы Интернета  (HTTP)</b>. <br />
7. В появившемся меню выберите <b>Включить правило</b><br />
8. В среднем пенале выполните правый клик на <b>Службы Интернета  (HTTPS)</b>. Отличается буквой S от пункта 6. <br />
9. В появившемся меню выберите <b>Включить правило</b><br />

