@using CarShop.Properties;
@using CarShop.Helpers;
@{
    ViewBag.Title = "Первый запуск решения, где развернут Интернет сервер";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>15. Первый запуск решения, где развернут Интернет сервер</h2>
}





<h3>15.1. Пароль администратора экосистемы EcoSystemAdmin</h3>
При первом запуске решения автоматически создается единственный пользователь с правами администратора экосистемы<br />
Имя пользователя: <b>EcoSystemAdmin</b><br />
Пароль пользователя: <b>EcoSystemAdmin</b><p />

После входа в систему под учетной записью <b>EcoSystemAdmin</b> кликните по ссылке с именем в верхнем правом углу web-страницы и перейдете на страницу изменения пароля.
Смените пароль пользователя с павами администратора всей системы.<p />

<b>Замечание:</b><br />
До входа в систему в верхнем правом углу web-страницы находится ссылка <b>Регистрация</b>. Если вы зарегистрируетесь в системе таким образом, то вы получите <b>только гостевые права</b>.
Регистрацию пользователей с правами продавца, бухгалтера и т.п. осуществляется редактированием штата предприятия и штата подразделения. Штат предприятия может редактировать
администратор экосистемы для любого предприятия. С другой стороны администартор предприятия может редактировать штат только своего предприятия. Аналогичное правило реализовано
для штата подразделения. Напомним, что предприятие - это сеть магазинов принадлежащих одному владельцу и подразделение - это отдельных магазин какой-либо сети.<br />
Чтобы начать формировать штат предприятия необходимо перейти по ссылке<p>
    @Html.ActionLink(Resources.EnterpriseTDES_INDEX, "Index", "Enterprises", routeValues: null, htmlAttributes: new { @class = "btn btn-info btn-xs" })
<p />
Вы перейдете на страницу со списком предприятий. Для выбранного предприятия кликнуть по ссылке <b>Детально</b>. Вы перейдете на станицу <b>Детально</b> для предприятия.
В нижней части чтраницы находится ссылка <b>Штат предприятия</b>. Килкните по данной ссылке и перейдете на страницу просмотра и редактирования штата предприятия.
При создании очередной записи  <b>Штата предприятия</b> происходит регистрация новоро пользователя в системе безопасности. Зарегистрированный таким образом пользователь получает
пароль от системного администратора и при первом входе изменяет пароль. Чтобы изменить свой пароль необходимо после входа в систему необходимо кликнуть
по ссылке с именем в верхнем правом углу web-страницы и перейти на страницу изменения пароля.



<h3>15.2. Определение URL адреса, для использования в браузерах на конечных рабочих станциях пользоватей.</h3>
15.2.1. Запустите Диспетчер служб IIS. <br />
15.2.2. В левом пенале разверните узел вашего сервера. <br />
15.2.3. В левом пенале разверните узел <b>Сайты (Sites)</b> <br />
15.2.4. В левом пенале разверните узел <b>Default Web Site</b><br />
15.2.5. Станьте на узел <b>CarShop</b><p />
Чтобы получить URL вашего решения в третьем пенале <b>Действия</b> кликните по ссылке  <b>Browse * (80) http</b><br />
Будет запущен web-браузер с URL=<b>@HttpUtility.HtmlDecode("http://localhost/CarShop/")</b> или что-то аналогичное<br />
Чтобы подключиться с другого компьютера к вашему решению <b>измените</b> в URL имя <b>localhost</b> на <b>имя компьютера</b>, где развернут ваш web-сервер.


