@using CarShop.Helpers;
@{
    ViewBag.Title = "1. Развертывание MSSQL Express 2012";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>1. Развертывание MSSQL Express 2012</h2>
}

<h3>1.1. Скачать инсталяцию</h3>
Скачать инсталяцию сервера MSSQL Express 2012 можно с официального сайта Microsoft по следующей ссылке<br />
@Html.ExternalLink("http://www.microsoft.com/ru-ru/download/details.aspx?id=35579", "http://www.microsoft.com/ru-ru/download/details.aspx?id=35579", new { target = "_blank" }, new { })<br />
Для <b>64bit</b> операционной системы необходимо скачать файл <b>SQLEXPRADV_x64_RUS.exe</b><br />
Для <b>32bit</b> операционной системы необходимо скачать файл <b>SQLEXPRADV_x86_RUS.exe</b><p />

<h3>1.2. Перед запуском установки MSSQL Express 2012</h3>
Заметим что на указанной странице в разделе инструкции по установке приводится следующее:<br />
<i>
    <b>Шаг 1.</b> Включите Microsoft .Net Framework 3.5 с пакетом обновления 1 (SP1) <br />
    затем загрузите и установите  Microsoft .Net Framework 4.0.
</i><br />
Поэтому мы должны <b>предварительно выполнить</b> следующие действия по установке .Net 3.5 и затем .Net 4.0<br />


<h4>1.2.1. Замечание по установке пакета .Net Framework 3.5.</h4>
Если у вас установлена операционная система <b>Windows 7</b>  или <b>Server 2008R2</b> или <b>Windows 8</b> или <b>Server 2012</b>,
то пакет <b>.Net Framework 3.5</b> устанавливается средствами операционной системы
(т.е. качать из интернета нет нужды). Вместо этого через "Чудо-кнопки" откройте <b>Параметры -> Панель управления</b>.
Выберите просмотр = <b>"Крупные значки" или "Мелкие значки"</b>. Далее кликните ссылку
<b>"Программы и компоненты"</b>. Далее <b>"Включение или отключение компонентов Windows"</b>. <p />
- В случае <b>windows 8 (или windows 7 или Server 2008R2)</b> появится блок диалога.  Поставьте флаг на узле <b>Net framework 3.5 (включает 2.0 и 3.0)</b>.<p />
- В случае <b>Server 2012</b> появится "Мастер добавления ролей и компонентов". Кликаем кнопку <b>"Далее"</b> до тех пор, пока не появится <b>"Выбор компонентов".</b>
Включаем флаг <b>Net framework 3.5 (включает 2.0 и 3.0)</b>.
После этого мастер развертывания попросит путь к ресурсу для установки. Вставте инсталяционный диск (или ISO-образ) и укажите путь <b>X:\sources\sxs</b>, где <b>"X"</b> -
имя диска, которое присвоила операционная система (к примеру C, D, E и т.п.) вашему инсталяционному ресурсу.

<h4>1.2.2. Замечание по установке пакета .Net Framework 4.0.</h4>
В случае <b>Windows 8</b> или <b>Server 2012</b>, действия аналогичные приведенным в (1.2.1).<br />
В случае <b>Windows 7 (или Server 2008R2)</b> для установки необходимо:<br />
1.2.2.1. скачать инсталяцию по ссылке
@Html.ExternalLink("http://www.microsoft.com/ru-ru/download/details.aspx?id=17718", ".Net Framework 4.0.", new { target = "_blank" }, new { }) и установить (Запустить саморазворачивающийся архив)<br />
1.2.2.1. затем скачать инсталяцию языкового пакета по ссылке
@Html.ExternalLink("http://www.microsoft.com/ru-ru/download/details.aspx?id=3324", "языковой пакет .Net Framework 4.0.", new { target = "_blank" }, new { })
 и установить (Запустить саморазворачивающийся архив)<br />

<h3>1.3 Шаги установки MSSQL Express 2012</h3>
1.3.1. Запускаем <b>SQLEXPRADV_x64_RUS.exe</b> (или <b>SQLEXPRADV_x86_RUS.exe</b>) и дожидаемся распаковки архива и автозапуска Setup.
В результате на экране появится форма с перечнем допустимых действий в своей левой части.<br />

1.3.2. Кликаем по ссылке слева <b>"Установка"</b> и в правом пенале выбираем
<b>"Новая установка изолированного экземпляра Sql сервер"</b>. При этом на экране появится новая форма. <b>"Правила поддержки установки"</b>. <br />

1.3.3. Кликните кнопку <b>"Показать подробности"</b> и убедитесь,
что тест пройден успешно. После этого кликните кнопку <b>"Ok"</b> и дождитесь появления на экране новой формы <b>"Программа установки"</b>.<br />

1.3.4. На появившейся форме согласитесь с условиями лицензии (включите флаг) и кликните кнопку <b>"Далее"</b>. Появится шаг "Обновление продукта".<br />

1.3.5. Нажмите <b>"Далее"</b> для установки обновлений <b>через интернет</b> и дождитесь успешного окончания процесса.
Если обновления операционной системы были выполнены ранее, то этот шаг пройдет очень быстро.<br />

1.3.5. В новом окне <b>"Выбор компонентов"</b> ставим все флаги за исключением <b>LocalDB</b> кликаем кнопку <b>"Далее"</b>.<br />

1.3.6. В новом окне <b>"Конфигурирование экземпляра"</b> обязательно выбрать <b>"Именнованный экземпляр"</b> и внести имя (к примеру <b>"MYDBSERVER"</b>).<br />

1.3.7. В новом окне <b>"Конфигурирование сервера"</b> кликаем кнопку <b>"Далее"</b>.<br />

1.3.8. В новом окне <b>"Конфигурирование движка БД"</b> выбираем смешанный режим доступа и вводим (повторяем) пароль доступа и нажимаем <b>"Далее"</b>.
Запомните этот пароль, который вы вводите. Вы им будете пользоваться постоянно при настройке и эксплуатации решения<br />

1.3.9. В новом окне <b>"Отчет об ошибках"</b> нажимаем <b>"Далее"</b>.<br />

1.3.10. После окончания установки убедиться в том, что не возникло ошибок.<br />

<h3>1.4 Конфигурирование протоколов</h3>
Если вы разворачиваете <b>"Именнованный экземпляр"</b> вам необходимо активировать два дополнительных протокола TCP/IP и Named Pipes.<p />
Для этого в случае <b>Windows 7</b>  или <b>Server 2008R2</b> воспользоваться последовательностью<br />
Кнопка <b>Пуск</b><br />
Пункт меню <b>Все программы</b><br />
Пункт меню <b>Microsoft Sql Server 2012</b><br />
Пункт меню <b>Configuration tools</b><br />
Пункт меню <b>Sql Server Configuration Manager (Диспетчер конфигурации Sql Server)</b><p />

В случае <b>Windows 8</b>  или <b>Server 2012</b> воспользоваться последовательностью<br />
Переместите мышь в левый нижний угол дисплея (появится пиктограмма Пуск) <br />
Сделайте клик мышью<br />
Вы перейдете в режим Пуск <br />
Кликните на пиктограмме <b>Sql Server Configuration Manager (Диспетчер конфигурации Sql Server)</b><p />

При этом откроется окно программы <b>SQL Server Configuration Manager (Диспетчер конфигурации SQL Server)</b><br />
В левом пенале раскройте узел <b>Sql Server Network Configuration (Сетевая конфигурация Sql Server)</b><br />
Станьте на узел <b>Protocols for ТУТ_ИМЯ_ВАШЕГО_ЭКЗЕМПЛЯРА (Протоколы для ТУТ_ИМЯ_ВАШЕГО_ЭКЗЕМПЛЯРА)</b><br />
При этом в правом пенале откроется список протоколов.<br />
Станьте на каждый из этого списка и выполните правый клик мышью<br />
В появившемся меню выберите пункт <b>Enable (Включить)</b><br />
