@using CarShop.Helpers;
@{
    ViewBag.Title = "2. Запуск и знакомство с MSSQLManagementStudio";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
    <h2>2. Запуск и знакомство с MSSQL Management Studio</h2>
}



<h3>1. Запуск</h3>
Если у вас <b>Windows 7</b> (или <b>Server 2008</b>), то запуск <b>MSSQL Management Studio</b> осуществляется через последовательность<br />
<ul>
    <li>
        1. Пуск
    </li>
    <li>
        2. Все программы
    </li>
    <li>
        3. Microsoft Sql Server 2012
    </li>
    <li>
        4. Sql Server Management Studio
    </li>
</ul>

Если у вас <b>Windows 8</b> (или <b>Server 2012</b>), установите мышку в левый нижний угол. Появится всплывающая ссылка "Пуск". Кликните по ней. Вы перейдете на форму "Пуск".
Найдите пиктограмму <b>Sql Server Management Studio</b> и кликните по ней.

<h3>2. Подключение к SQL серверу</h3>
После инициализации <b>Management Studio</b> на экране появится диалог который необходимо аккуратно заполнить корректными сведениями:<br />
<ul>
    <li>
        1. Тип сервера: <b>Компонент Database Engine</b>
    </li>
    <li>
        2. Имя сервера: <b>ИмяКомпьютера\ИмяЭкземпляраSqlServer</b>. (Например: <b>localhost\MYDBSERVER</b>, где localhost - это имя компьютера и MYDBSERVER - имя экземпляра SqlServer.
        Если помните, при развертывании SqlServer мы выбрали <b>именнованый экземпляр</b> и ввели имя = <b>MYDBSERVER</b>. Это имя теперь используется для подключения к Sql-серверу.
    </li>
    <li>
        3. Проверка подлинности: <b>Проверка подлинности SqlServer</b>. (Если помните, при развертывании SqlServer мы выбрали смешанный режим доступа).
    </li>
    <li>
        4. Имя входа: <b>sa</b>. Это имя, которое SqlServer присваивает системному администратору. Не смотря на то, что при развертывании SqlServer мы не вводили это имя,
        но оно есть
    </li>
    <li>
        5. Пароль: Пароль, который вы ввели и потом повторили на шаге развертывания SqlServer, когда выбрали смешанный режим доступа.
    </li>
    <li>
        6. Кликните Ok.
    </li>
</ul>

<h3>3. Знакомство с интерфейсом</h3>
Любое действия осуществляется на узле, который находится в левом пенале (при первом запуске студии).
Данный пенал называется <b>Обозреватель объектов</b> и представляет собой дерево. Вершиной этого дерева является экземпляр вашего Sql сервера.
Далее идут вложенные узлы один из которых <b>Базы данных</b>. Раскройте этот узел.
В качестве вложенных этот узел будет содержать системные базы данных и перечень баз данных, которые вы создадите на данном экземпляре Sql сервера.
Узел каждой созданной БД можно раскрыть и перейти к перечню таблиц. Узел <b>каждой таблицы</b> можно раскрыть и перейти ко вложенному узлу <b>Индексы</b>.
Узел <b>Индексы</b> можно раскрыть и перейти к перечню индексов для выбранной таблицы. Правым кликом на индексе можно вызвать контекстное меню.
Вам понадобится пункт меню <b>Перестроить</b>. Иногда это полезно делать для некоторых таблиц.<br />
Вторая функция это <b>присоединение</b> базы данных или <b>отсоединение</b> базы данных.
Отсоединение базы данных понадобится, когда база данных продаж (к примеру) будет заполнена и понадобится новая пустая для продолжения ведения вашего бизнеса.<br />
Для отсоединения базы данных необходимо стать на узел той БД, которую вы хотите отсоединить от экземпляра.
Далее правым кликом мыши вызвать меню. Далее используйте <b>"Задачи"</b> и <b>"Отсоединить"</b>.<br />
Операция присоединения может понадобиться, если вы переносите данные с одного экземпляра Sql сервера на другой.<br />
Для присоединения БД станьте на узел с именем <b>Базы данных</b>. Далее правым кликом мыши вызвать меню и выбрать пункт <b>"Присоединить"</b>.
Появится блок диалога, в котором кликнуть кнопку <b>Добавить</b>. После выбора файла кликнуть <b>OK</b>.


