@using CarShop.Helpers;

@{
    ViewBag.Title = "Если вы используете Internet Explorer";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>18. Если вы используете Internet Explorer</h2>
}


<h3>Проблема: некрасивый вид вебстраниц.</h3>
<b>Решение</b>: При работе в интрасети Internet Explorer отображает страницы в режиме совместимости.
Чтобы отключить этот режим воспользуйтесь меню <b>Сервис</b>, далее <b>Параметры просмотра в режиме совместимости</b>.
В появившемся блоке диалога отключите флаг <b>Отображать сайты интрасети в режиме совместимости</b><p />

<h3>Проблема: При попытке выполнить логин в систему. возникает ошибка</h3>
<b>Решение</b>: Internet Explorer часто запрещает использование Cookies. Вы можете включить Cookies для конкретного сайта.
Для этого воспользуйтесь пунктом меню <b>Сервис</b>, далее <b>Свойства браузера</b>.
В появившемся блоке диалога перейдите на вкладку <b>Конфиденциальность</b>. Кликните по кнопке <b>Сайты</b>.
В появившемся блоке диалога внесите URL сайта и кликните кнопку <b>Pазрешить</b>. Если вы развернули решение в интрасети, то URL сайта будет иметь вид<br />
<b>http://ИМЯ_КОМПЬЮТЕРА/CarShop </b><br />
При клике по кнопке <b>Pазрешить</b> будет выдано сообщение об ошибке. Измените <b>ИМЯ_КОМПЬЮТЕРА</b> на <b>IP адрес</b> этого компьютера.
Чтобы определить IP адрес вы должны на том компьютере, где развернуто решение открыть окно командной строки и выполнить команду <b>ipconfig</b>.<p />

Если все выше написанное покажется очень сложным, установите у себя <b>Google Chrome</b> или <b>FireFox</b>.
После установки любого из этих браузеров и если вы не меняли предустановленные настройки вы сможете работать с решением.