@{
    ViewBag.Title = "Настройка поддержки распределенных транзакций";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>10. Настройка поддержки распределенных транзакций</h2>
}



В решении реализована модель распределенного хранения и обработки данных, при которой каждый ресурс (приход, продажи, заказы и т.п.) для каждого машгзина может храниться
в отдельной базе данных или даже на отдельном экземпляре MSSQL сервера. Реализация целостности обработки опирается на технологию Microsoft Distributed Transact Server.
Чтобы использовать эту технологию необходимо ее активировать.<p />

Участниками распределенных транзакций будут являться все компьютеры, где установлен MSSQL Express 2012 и компьютер на котором разворачивается web-сервер.<p />
<h3>10.1. Настройка DTS</h3>
Вне зависимости от операционной системы <br />
1. Перейдите в <b>"Панель управления"</b><br />
2. Выберите <b>"Крупные значки" или "Мелкие значки"</b><br />
3. Кликните <b>"Администрирование"</b><br />
4. Кликните <b>"Службы компонентов"</b><br />
5. В появившемся окне разверните узел <b>"Службы компонентов"</b><br />
6. Далее разверните узел <b>"Компьютеры"</b><br />
7. Далее разверните узел <b>"Мой компьютер"</b><br />
8. Разверните <b>Координатор распределенных транзакций</b><br />
9. Кликните правой кнопкой мыши на <b>Локальная DTS</b><br />
10. В появившемся меню выберите  <b>Свойства</b><br />
11. В появившемся диалоге перейдите на вкладку <b>Безопасность</b><br />
12. На вкладке <b>Безопасность</b> включите флаг <b>"Доступ к сети DTS"</b><br />
13. На вкладке <b>Безопасность</b> включите флаг <b>"Разрешить удаленных клиентов"</b><br />
14. На вкладке <b>Безопасность</b> включите флаг <b>"Разрешить входящие"</b><br />
15. На вкладке <b>Безопасность</b> включите флаг <b>"Разрешить исходящие"</b><br />
16. На вкладке <b>Безопасность</b> выберите <b>"Проверка подлинности не требуется"</b><br />
17. На вкладке <b>Безопасность</b> включите флаг  <b>"Включить транзакции SNA"</b><br />
18. Кликните OK.<p />


<h3>10.2. Включение службы RpcSs (Удаленный вызов процедур Rpc)</h3>
Данная служба используется координатором распределенных транзакций. Поэтому стартовать данную службу.
Вне зависимости от операционной системы <br />
1. Перейдите в <b>"Панель управления"</b><br />
2. Выберите <b>"Крупные значки" или "Мелкие значки"</b><br />
3. Кликните <b>"Администрирование"</b><br />
4. Кликните <b>"Службы"</b><br />
5. Найдите службу  <b>RpcSs (Удаленный вызов процедур Rpc)</b><br />
6. Кликните правой кнопкой мыши на <b>RpcSs (Удаленный вызов процедур Rpc)</b><br />
7. В появившемся меню выберите  <b>Свойства</b><br />
8. В появившемся диалоге перейдите на вкладку <b>Общие</b><br />
9. На вкладке <b>Общие</b> выберите тип запуска <b>Автоматически</b><br />
18. Кликните OK.<p />


<h3>10.3. Включение службы "KtmRm Для распределенных транзакций"</h3>
Не рекомендуется переводить в режим autostart данную службу. Данная служба автоматически запускается, если в этом возникает необходимость.
Тем не менее вы можете перевести ее в режим запуска autostart следуя описанным ниже шагам (Хотя это и не рекомендуется).
Данная служба используется координатором распределенных транзакций.
Вне зависимости от операционной системы <br />
1. Перейдите в <b>"Панель управления"</b><br />
2. Выберите <b>"Крупные значки" или "Мелкие значки"</b><br />
3. Кликните <b>"Администрирование"</b><br />
4. Кликните <b>"Службы"</b><br />
5. Найдите службу  <b>KtmRm Для распределенных транзакций</b><br />
6. Кликните правой кнопкой мыши на <b>KtmRm Для распределенных транзакций</b><br />
7. В появившемся меню выберите  <b>Свойства</b><br />
8. В появившемся диалоге перейдите на вкладку <b>Общие</b><br />
9. На вкладке <b>Общие</b> выберите тип запуска <b>Автоматически</b><br />
18. Кликните OK.<p />


<h3>10.4. Включение службы координатора распределенных транзакций</h3>
Вне зависимости от операционной системы <br />
1. Перейдите в <b>"Панель управления"</b><br />
2. Выберите <b>"Крупные значки" или "Мелкие значки"</b><br />
3. Кликните <b>"Администрирование"</b><br />
4. Кликните <b>"Службы"</b><br />
5. Найдите службу  <b>Координатор распределенных транзакций</b><br />
6. Кликните правой кнопкой мыши на <b>Координатор распределенных транзакций</b><br />
7. В появившемся меню выберите  <b>Свойства</b><br />
8. В появившемся диалоге перейдите на вкладку <b>Общие</b><br />
9. На вкладке <b>Общие</b> выберите тип запуска <b>Автоматически</b><br />
18. Кликните OK.<p />


<h3>10.5. Конфигурирование брандмауэра</h3>
Запустить оснастку брандмауэра. Для этого <br />
1. Перейдите в <b>"Панель управления"</b><br />
2. Кликните <b>"Брандмауэр windows"</b><p />
2. Кликните <b>"Дополнительные параметры"</b><p />

Стать на узел <b>"Правила для входящих подключений"</b> и в правом пенале найти следующие строки<br />
1. <b>Координатор распределенных транзакций (RPC)</b> - домен. <br />
2. <b>Координатор распределенных транзакций (RPC)</b> - частный. <br />
3. <b>Координатор распределенных транзакций (RPC-EPMAP)</b> - домен. <br />
4. <b>Координатор распределенных транзакций (RPC-EPMAP)</b> - частный. <br />
3. <b>Координатор распределенных транзакций (TCP - входящий)</b> - домен. <br />
4. <b>Координатор распределенных транзакций (TCP - входящий)</b> - частный. <br />
На каждой строке правым кликом мыши вызвать меню и выбрать <b>"Включить"</b><p />

Стать на узел <b>"Правила для исходящих подключений"</b> и в правом пенале найти следующие строки<br />
1. <b>Координатор распределенных транзакций (TCP - исходящий)</b> - домен. <br />
2. <b>Координатор распределенных транзакций (TCP - исходящий)</b> - частный. <br />
На каждой строке правым кликом мыши вызвать меню и выбрать <b>"Включить"</b><p />


Добавление в брандмауэр исключения для программы при помощи элемента «Брандмауэр Windows» на панели управления
На вкладке Исключения элемента Брандмауэр Windows на панели управления нажмите кнопку Добавить программу.
Перейдите к экземпляру SQL Server, которому необходимо открыть доступ через брандмауэр, например к C:\Program Files\Microsoft SQL Server\MSSQL11.<instance_name>
    \MSSQL\Binn, выберите sqlservr.exe, а затем нажмите Открыть.
    Нажмите кнопку ОК.
