@using CarShop.Helpers;
@{
    ViewBag.Title = "Конфигурирование ODBC TecDoc";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>5. Конфигурирование ODBC TecDoc</h2>
}



При любом сценарии вам понядобтся установить каталог TecDoc какого-либо квартала у вас на компьютере или на компьютере в вашей локальной сети.
Ниже мы объясним почему это необходимо сделать. Но в данном абзаце нам важно отметить, тот факт, что это необходимо сделать.
Если вы начинаете устанавливать TecDoc, то необходимо выбрать  <b>серверный</b> вариант установки. <p />

Мы не обсуждаем вопрос развертывания каталога TecDoc и считаем, что вы это уже сделали.<p />
Процесс конфигурирования драйвера <b>сводится к двум шагам</b>:<br />
1. Установка драйвера
2. Настройка драйвера

<h2>5.1. Установка драйвера</h2>
На том компьютере, где уже развернут сам TecDoc драйвер ODBC устанавливать нет нужды, т.к. он там устанавливается автоматически.<br />
<b>Самым простым способом установки драйвера на всех других компьютерах является установка клиента TecDoc, при которой автоматически устанавливается и драйвер ODBC.</b><br />
Итак, рассмотрим любой другой компьютер, где не установлен каталог TecDoc.<br />
Чтобы установить на комьютере в вашей сети клиента Tecdoc необходимо:<br />
5.1.1.  На том компьютере, где будет установлен клиент <b>подключить в качестве сетевого диска</b> диск того компьютера на котором развернут TecDoc.
Назовем этот диск буквой <b>Z</b><br />
5.1.2.  На том компьютере, где будет установлен клиент перейти в папку<br />
<b>Z:\TECDOC_CD\ТУТ_КВАРТАЛ\POD</b><br />
 где ТУТ_КВАРТАЛ = 4_2013 или 3_2013 или 1_2014 ... (например: Z:\TECDOC_CD\4_2013\POD)<br />
5.1.2.  На том компьютере, где будет установлен клиент из этой папки запустить программу <b>silentPoDLauncher.Exe</b><br />
Так вы установите и клиента и ODBC драйвер<p />
<b>Замечание:</b> Устанавливать и конфигурировать ODBC драйвер необходимо только на тех компьютерах, где вы будете запускать утилиту WpfCarShop.exe или где будет развернут
Web-узел.


<h2>5.2. Настройка ODBC источника</h2>
5.1.1.1. Если у вас <b>Windows 8</b> (или <b>Server 2012</b>) 64бита перейдите в <b>панель управления</b>, далее <b>Администрирование</b> и далее
<b>Источник данных ODBC (32-разрядная версия)</b>. Заметим что именно 32-разрядная версия!!! Не смотря на то, что ваша операционная система может быть 64-бита.<br />
5.1.1.2. Если у вас <b>Windows 7</b> (или <b>Server 2018</b>) 64бита то вызовите из командной строки<br />
C:\WINDOWS\SYSWOW64\odbcad32.exe<br />
5.1.1.3. Если у вас 32бита операционная система, в <b>панель управления</b>, далее <b>Администрирование</b> и далее
<b>Источник данных ODBC</b>.<p />

5.1.2.1. Появится окно и на вкладке <b>пользовательский DNS</b> кликнуть <b>Добавить</b>. Появится перечень драйверов. Выберите <b>Transbase ODBC TecDoc CD ТУТ_КВАРТАЛ</b>
(Transbase ODBC TecDoc CD 4_2013). Кликните <b>Готово</b>.<br />
5.1.2.2. Появится окно в котором внесите следующие данные<br />
<b>Datasource=TECDOC</b><br />
<b>Description=Оставить пустым</b><br />
<b>Database=TECDOC_CD_ТУТКВАРТАЛ@ТУТИМЯКОМПЬЮТЕРА</b><br />
(где ТУТКВАРТАЛ = 4_2013 или 1_2014 и т.п. и ТУТИМЯКОМПЬЮТЕРА - это имя компьютера, гда развернут сервер TecDoc. Если сервер на этом же компьютере, то ИМЯ_КОМПЬЮТЕРА = localhost)<br />
<b>Server=Не заполняется т.е. поле ввода должно остаться пустым</b><br />
<b>User=tecdoc</b><br />
<b>Password= я не могу привести пароль, т.к. он меняется от квартала к кварталу. (На форумах tcd_error_0)</b><br />
Кликните Ok после заполнения всех полей<br />