@using CarShop.Helpers;
@{
    ViewBag.Title = "Загрузка данных утилитой WpfCarShop";
    Layout = "~/Views/HowTo/_Layout.cshtml";
}

@section headerscripts {
<h2>4. Загрузка данных утилитой WpfCarShop</h2>
}



<h2>4.1. Что, зачем и куда загружать</h2>
Решение не поставляется с готовыми базами данных, но предоставляется утилита для создания баз данных и наполнения этих баз обязательными данными.
Операция наполнения справочников данными не выполняется в момент создания БД по той причине, что этих данных к заливке очень много. (к примеру,
справочник СОАТО содержит более 25 тысяч записей), а с другой стороны, некоторые загружаемые формируемые данные должны содержать уникальный
идентификатор вашего магазина. Данная страничка посвящена загрузке данных в базовые справочники.

<ul>
    <li>
        Типы подразделений (склад,магазин,головной офис и т.п.)
    </li>
    <li>
        Типы контакта (телефон, e-mail и т.п.)
    </li>
    <li>
        Страны
    </li>
    <li>
        Валюты
    </li>
    <li>
        Типы населенных пунктов (город, поселек и т.п.)
    </li>
    <li>
        Типы улиц (Улица, Бульвар и т.п.)
    </li>
    <li>
        Справочник СОАТО
    </li>
    <li>
        Типы адреса
    </li>
    <li>
        Типы данных TecDoc (ODBC, MsSql и т.п.)
    </li>
</ul>
Загрузка данных выполняется в базу "CarShopContext"

<h2>4.2. Шаги загрузки</h2>
4.2.1. Запустите утилиту WpfCarShop.exe<br />
4.2.2. Выберите пункт меню <b>"Развертывание"</b> и затем <b>"Загрузка(выгрузка типизаторов)"</b> <br />
4.2.3. На появившейся форме кликните на кнопку <b>"Из файла"</b> и дождитесь отклика программы<br />
4.2.3. Повторите пункт 4.2.3. для перечисленных выше справочников.
