<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>

  
  <startup>
  </startup>
  
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <connectionStrings>
    <add name="CarShopContext" connectionString="Data Source=VSQL2017\MSSQLSERVER2017;Initial Catalog=CarShop;Persist Security Info=True;User ID=sa;Password=Qq01011967" providerName="System.Data.SqlClient" />
    
    
    <add name="CarShopArticleContext" connectionString="Data Source=VSQL2017\MSSQLSERVER2017;Initial Catalog=CarShopArticleContext;Persist Security Info=True;User ID=sa;Password=MY_PASSWORD" providerName="System.Data.SqlClient" />
    <add name="CarShopRestContext" connectionString="Data Source=VSQL2017\MSSQLSERVER2017;Initial Catalog=CarShopRestContext;Persist Security Info=True;User ID=sa;Password=MY_PASSWORD" providerName="System.Data.SqlClient" />
    <add name="CarShopIncomeContext" connectionString="Data Source=VSQL2017\MSSQLSERVER2017;Initial Catalog=CarShopIncomeContext;Persist Security Info=True;User ID=sa;Password=MY_PASSWORD" providerName="System.Data.SqlClient" />
    <add name="CarShopSalesContext" connectionString="Data Source=VSQL2017\MSSQLSERVER2017;Initial Catalog=CarShopSalesContext;Persist Security Info=True;User ID=sa;Password=MY_PASSWORD" providerName="System.Data.SqlClient" />
    <add name="CarShopMsTecDocContext" connectionString="Data Source=VSQL2017\MSSQLSERVER2017;Initial Catalog=CarShopMsTecDoc2013Q2;Persist Security Info=True;User ID=sa;Password=MY_PASSWORD" providerName="System.Data.SqlClient" />
    <add name="CarShopOrdersContext" connectionString="Data Source=VSQL2017\MSSQLSERVER2017;Initial Catalog=CarShopOrdersContext;Persist Security Info=True;User ID=sa;Password=MY_PASSWORD" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <modules>
    <module assemblyFile="CarShopDBDataServiceModule.dll" moduleType="CarShopDBDataServiceModule.CarShopDBDataServiceModule, CarShopDBDataServiceModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DBDataServiceModule" startupLoaded="true" />
    <module assemblyFile="CarShopDBArticleDataService.dll" moduleType="CarShopDBArticleDataService.CarShopDBArticleDataServiceModule, CarShopDBArticleDataService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DBArticleDataServiceModule" startupLoaded="true" />
    <module assemblyFile="CarShopDbIncomeDataService.dll" moduleType="CarShopDbIncomeDataService.CarShopDbIncomeDataServiceModule, CarShopDbIncomeDataService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DbIncomeDataServiceModule" startupLoaded="true" />
    <module assemblyFile="CarShopDbMsTecDocDataService.dll" moduleType="CarShopDbMsTecDocDataService.CarShopDbMsTecDocDataServiceModule, CarShopDbMsTecDocDataService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DbMsTecDocDataServiceModule" startupLoaded="true" />
    <module assemblyFile="CarShopDBOrderDataService.dll" moduleType="CarShopDBOrderDataService.CarShopDBOrderDataServiceModule, CarShopDBOrderDataService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DbOrderDataServiceModule" startupLoaded="true" />
    <module assemblyFile="CarShopDbRestDataService.dll" moduleType="CarShopDbRestDataService.CarShopDbRestDataServiceModule, CarShopDbRestDataService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DbRestDataServiceModule" startupLoaded="true" />
    <module assemblyFile="CarShopDbSalesDataService.dll" moduleType="CarShopDbSalesDataService.CarShopDbSalesDataServiceModule, CarShopDbSalesDataService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="DbSalesDataServiceModule" startupLoaded="true" />
    <module assemblyFile="WpfCarShopDbInstaller.dll" moduleType="WpfCarShopDbInstaller.WpfCarShopDbInstallerModule, WpfCarShopDbInstaller, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WpfCarShopDbInstallerModule" startupLoaded="true" />
    <module assemblyFile="WpfCarShopInstaller.dll" moduleType="WpfCarShopInstaller.WpfCarShopInstallerModule, WpfCarShopInstaller, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="WpfCarShopInstallerModule" startupLoaded="true" />


  </modules>
  
  
</configuration>